﻿<%@ Page Language="C#" EnableViewState="false" AutoEventWireup="true"  CodeFile="Default.aspx.cs" Inherits="Default"%>
<%@ Register Assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.ASPxMenu" TagPrefix="dxm" %>
<%@ Register Assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.ASPxCallback" TagPrefix="dxcb" %>
<%@ Register Assembly="DevExpress.Web.v14.1 , Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dxe" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
    
<head id="Head1" runat="server">
    <title>Financial</title>        
    <link rel="stylesheet" type="text/css" href="css/principal.css"/>    
    <link rel="stylesheet" type="text/css" href="css/carregador.css"/>
    <script type="text/javascript" language="Javascript" src="js/global.js"></script>
    <script type="text/javascript" language="javascript" >
    function turnVisible(strDiv){
        var objDiv = document.getElementById(strDiv);
        objDiv.style.display         ="block";
        objDiv.style.visibility      ="visible";
    }
    function turnInvisible(strDiv){
        var objDiv = document.getElementById(strDiv);
        objDiv.style.display         ="none";
        objDiv.style.visibility      ="hidden";
    }

    function loadPage()
    {        
        turnVisible("topo");
        //turnVisible("content");
        turnInvisible("carregador_pai");
        var objContent = document.getElementById("content");
        objContent.style.top="51px";
        document.getElementById('iframePrincipal').src = document.getElementById('hiddenPage').value;
    }
      
    function OpenNewWindow(url) {
       window.open(url,'_blank',"width=1000,height=500,status=no,toolbar=no,menubar=no");
    }
    
    function iterateThroughMenu() 
    {
	    if (document.getElementById('chkJanela').checked)
	    {
		    target = '_blank';
	    }
	    else
	    {
		    target='iframePrincipal';
	    }
	    var anchorArray = document.getElementsByTagName('a');

 	    for (var i=0; i<anchorArray.length; i++)
	    {	
		    anchorArray[i].target = target;	
	    }  	    
    }
    </script>
    
</head>

<body onload="loadPage();changeDisplay();" onresize="changeDisplay();">
<form id="global" runat="server">  
<div id="carregador_pai">
    <div id="carregador">
        <div align="center">Aguarde, carregando...</div>
        <div id="carregador_fundo">
            <div align="center">
                <asp:Image ID="imagemLoading" runat="server" ImageUrl="~/imagens/loading.gif" />
            </div>
        </div>
    </div>
</div>
    <dxcb:ASPxCallback ID="callback1" runat="server" OnCallback="callback1_Callback">
        <ClientSideEvents CallbackComplete="function(s, e) 
        {   
            var resultSplit = e.result.split('|');                        
            e.result = resultSplit[0];
            pagina = resultSplit[1];
            
            if (pagina != null)
            {
                document.getElementById('homePage').href = pagina;
            }
            alert(e.result);        
        }        
        "/>
    </dxcb:ASPxCallback>
        
    <asp:HiddenField ID="hiddenPage" runat="server" />

    <div id="topo" style="visibility:hidden;display:none">
        <div class="logoCliente"></div>
        
        <div id="topoBotoes">
        
        
        <div class="opcaoJanela group">        
        <asp:CheckBox ID="chkJanela" runat="server" AutoPostBack="false" Text="Nova Aba" Enabled="true" />    
        </div>

        <div id ="home-wrapper" class="group">
        <div id="home" class="first"><a id="homePage" name="home" runat="server" target="iframePrincipal" >                      
        <img src="imagens/home.png" alt="Home" />Home</a>
        </div>
        
        <div id="newhome"><a href="javascript:callback1.SendCallback();">
        <img src="imagens/star.png" alt="New_Home" />Atualiza Home</a>
        </div>
	    </div>
        
        <div class="group">
        <div id="usuario" class="first">
            <a href="javascript:login_edit_submit();"><img src="imagens/card-address.png" alt="" />
                <asp:LoginName ID="loginName" runat="server" /></a> 
        </div>
	      
	    <div id="sair">
	        <img src="imagens/lock--minus.png" alt=""/><a href="Login/LoginInit.aspx">Sair</a>
	    </div>	  
	    </div>
        </div>        
        
	    <!--<asp:TextBox style="display:none" ID="textMsgCritica" runat="server"
	                 Text="Para continuar com sua busca, favor informar 4 ou mais caracteres."></asp:TextBox>
        <div id="search">                  
          <asp:TextBox style="display:none" ID="textTextoSearch" runat="server" Text="Pesquisar..."></asp:TextBox>     
          <asp:TextBox ID="textSearch" runat="server" onfocus="search_focus(this);" onblur="search_blur(this);" ></asp:TextBox>
          <img src="imagens/ico_search.gif";   />          
        </div>-->
           
    </div>  
    
    <div id="content" >
      <iframe runat="server" frameborder="0" id="iframePrincipal" name="iframePrincipal" scrolling="auto" width="100%" height="100%" ></iframe>
    </div> 
    
    <dxm:ASPxMenu ID="ASPxMenu1" AutoPostBack="false" ClientInstanceName="ASPxMenu1" EnableClientSideAPI="true" 
        AppearAfter="0" EnableAnimation="false" SubMenuStyle-GutterWidth="0px" ShowSubMenuShadow="false" 
        CssClass="menu" runat="server" OnDataBound="NavigationMenu_DataBound" DataSourceID="SiteMapDataSource2" Orientation="Vertical" 
        Target="iframePrincipal">
        <ItemStyle CssClass="menu">
            <HoverStyle BackColor="#E6E6E6">
            </HoverStyle>                
        </ItemStyle>
        <SubMenuItemStyle CssClass="submenu" Paddings-PaddingLeft="12px" />
        <Border BorderColor="Transparent" BorderStyle="None" />
        
    </dxm:ASPxMenu>    
        
	<asp:SiteMapDataSource ID="SiteMapDataSource2" runat="server" ShowStartingNode="False" />
</form>
</body>
</html>