﻿

table#Login1
{
	width: 100%;
	height: 100%; /*Esse parametro precisa ser removido da maioria dos Custom CSSs - meter height:auto;*/
}

div.failure-text
{
	display: none;
}

/*Todos os elementos abaixo devem estar subordinados a classe login_default para nao interferirem com CSS Custom de clientes*/

table.login_default
{
	
}

.login_default #login_content
{
	font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 200px;
	left: 263px;
	position: relative;
	text-align: justify;
	top: 72px;
	width: 255px;
	line-height:16px;
}

.login_default #login_content td
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	text-align: justify;
}

.login_default .linkButton a
{
	display:inline-block;
}

.login_default #login_content table tr td a
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	text-align: justify;
	text-decoration: underline;
}

.login_default div.logoCliente
{
	background: url( "../imagensPersonalizadas/logo_cliente.png" ) no-repeat scroll 0 0 transparent;
	height: 48px;
	margin-left: 20px;
	margin-top: 24px;
	width: 312px;
}

.login_default #login_content .input_text
{
	background-color: White;
	border: 1px solid #CCCCCC;
	color: black;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 17px;
	width: 140px;
}

.login_default #login_content .label
{
	background-color: Transparent;
	color: black;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 9px;
	width: 60px;
}

.trocar_senha .login_default #login_content .label
{
	width: 105px;
}

.login_default #login_content .failureText
{
	margin-top: 0;
	position: relative;
}

.login_default .btn_login,.login_default .btn_enviar,.login_default .btn_back
{
	display: block;
	height: 20px;
} 

.login_default .btn_login
{
	background: url( "../imagens/btn_login.gif" ) no-repeat scroll 0 0 transparent;
	width: 73px;
	margin:15px 0 0 130px;
}

.trocar_senha .login_default .btn_login {
	margin-left:173px;
}

.login_default .btn_enviar
{
	background: url( "../imagens/btn_enviar.gif" ) no-repeat scroll 0 0 transparent;
	width: 65px;
}

.login_default .btn_back
{
	background: url( "../imagens/btn_back.gif" ) no-repeat scroll 0 0 transparent;
	width: 63px;
	margin-left:8px;
}


.login_default #linguagem
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 20px;
	left: 480px;
	position: relative;
	text-align: justify;
	top: 109px;
	width: 120px;
}

.login_default #linguagem select
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	width: 117px;
}

.login_default #versao
{
	color: #FFFFFF;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	left: 450px;
	position: relative;
	text-align: justify;
	top: 130px;
	width: 255px;
}