/* TEMPLATES ---------- Controle geral dos fieldsets (modelo columnarForm) */
.columnarForm FIELDSET
{	
    PADDING-RIGHT: 0.5em;
    DISPLAY: block;
    PADDING-LEFT: 0.5em;
    FLOAT: left;
    PADDING-BOTTOM: 1em;
    MARGIN: 0px 1em 1em 0px;
    WIDTH: 16.5em;        
    background-color:ghostwhite;
    PADDING-TOP: 0px;       
}
.columnarForm FIELDSET.radio
{
    MARGIN: 1em 0px 2em;
    WIDTH: 15em
}
.columnarForm FIELDSET.radio INPUT
{
    CLEAR: both;
    FLOAT: left;
    WIDTH: auto
}
.columnarForm FIELDSET.radio LABEL
{
    FONT-WEIGHT: normal
}
.columnarForm .input_text
{
    DISPLAY: block;
    WIDTH: 15em;
    font: 9px Tahoma,Arial;
}
.columnarForm LABEL
{
    DISPLAY: block;
    FONT-WEIGHT: bold;
    margin-top: 0.5em
}
.columnarForm LABEL.first
{
    PADDING-TOP: 1em
}
.columnarForm SELECT
{
    DISPLAY: block
}

/* TEMPLATES ---------- Controle geral dos fieldsets (modelo horizontalForm) */
.horizontalForm FIELDSET
{
    PADDING-RIGHT: 1em;
    DISPLAY: block;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 1em;
    MARGIN: 0px 0px 3em;
    background-color:Whitesmoke;
    PADDING-TOP: 0px
}
.horizontalForm FIELDSET.radio
{
    MARGIN: 1em 0px 2em
}
.horizontalForm FIELDSET.radio INPUT
{
    CLEAR: both;
    FLOAT: left;
    WIDTH: auto
}
.horizontalForm FIELDSET.radio LABEL
{
    FONT-WEIGHT: normal
}
.horizontalForm INPUT
{
    DISPLAY: block;
    WIDTH: 15em
}
.horizontalForm INPUT.submit
{
    CLEAR: both
}
.horizontalForm LABEL
{
    DISPLAY: block;
    FONT-WEIGHT: bold;
    FLOAT: left;
    margin-top: 0.5em;
    MARGIN: 1em 1em 0px 0px    
}
.horizontalForm SELECT
{
    DISPLAY: block
}

/* TEMPLATES ----------  Controle geral dos fieldsets (modelo marginForm) */
.marginForm FIELDSET
{
    BORDER-RIGHT: #ffffff 0px solid;
    PADDING-RIGHT: 1em;
    BORDER-TOP: #000000 1px solid;
    DISPLAY: block;    
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 1em;
    MARGIN: 0px 0px 1em;
    BORDER-LEFT: #ffffff 0px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #ffffff 0px solid
}
.marginForm FIELDSET.radio
{
    BORDER-RIGHT: #ffffff 0px solid;
    BORDER-TOP: #ffffff 0px solid;
    MARGIN: 0px 0px 0px -1em;
    BORDER-LEFT: #ffffff 0px solid;
    BORDER-BOTTOM: #ffffff 0px solid
}
.marginForm FIELDSET.radio INPUT
{
    CLEAR: both;
    FLOAT: left;
    POSITION: static
}
.marginForm FIELDSET.radio LABEL
{
    DISPLAY: inline;
    FONT-WEIGHT: normal;
    MARGIN: 0px 0px 0px 8em;
    WIDTH: auto;
    POSITION: relative;
    TOP: -1.25em
}
.marginForm FIELDSET.radio LEGEND
{
    FONT-WEIGHT: bold;
    FLOAT: left
}
.marginForm INPUT
{
    DISPLAY: block;
    LEFT: 8em;
    POSITION: relative;
    TOP: -1.4em
}
.marginForm INPUT.submit
{
    CLEAR: both;
    TOP: 0px
}
.marginForm LABEL
{
    CLEAR: both;
    MARGIN-TOP: -1em;
    DISPLAY: block;
    FONT-WEIGHT: bold;
    FLOAT: left;
    WIDTH: 8em
}
.marginForm LABEL.first
{
    MARGIN-TOP: 1em
}
.marginForm SELECT
{
    DISPLAY: block;
    LEFT: 8em;
    POSITION: relative;
    TOP: -1.4em
}

/* TEMPLATES ---------- Controle geral dos fieldsets (modelo verticalForm) */
.verticalForm FIELDSET
{
    PADDING-RIGHT: 1em;
    DISPLAY: block;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 1em;
    MARGIN: 0px 0px 3em;
    WIDTH: 17em;
    background-color:Whitesmoke;
    PADDING-TOP: 0px
}
.verticalForm FIELDSET.radio
{
    MARGIN: 1em 0px 2em;
    WIDTH: 15em
}
.verticalForm FIELDSET.radio INPUT
{
    CLEAR: both;
    FLOAT: left;
    WIDTH: auto
}
.verticalForm FIELDSET.radio LABEL
{
    FONT-WEIGHT: normal
}
.verticalForm INPUT
{
    DISPLAY: block;
    WIDTH: 15em
}
.verticalForm LABEL
{
    DISPLAY: block;
    FONT-WEIGHT: bold;
    margin-top: 0.5em
}
.verticalForm LABEL.first
{
    PADDING-TOP: 1em
}
.verticalForm SELECT
{
    DISPLAY: block
}