body {
    background: #fff;
    overflow: hidden;
}

body.admin {
    background: #096dc5 url(../imagens/layout/aplic-background.jpg) no-repeat !important;
}

.header-panel .x-panel-body {
    background: #ffffff;
}

/*INI Layout North Region*/
div#x-header-info {
    position: absolute;
    right: 25px;
    top: 20px;
    height: 30px;
    padding: 12px 0 0 0 !important;
}

div#x-header-info div {
    float: left;
    text-align: left;
    color: #4f6b72;
    font-family: arial, tahoma;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

div#x-header-info a, div#x-header-info a:link, div#x-header-info a:visited, div#x-header-info a:active, div#x-header-info a:hover {
    text-decoration: none;
	color: #4f6b72;
}

div#x-info-user {
    /*cursor: default !important;*/
}

.gbma {
border-color:#3366CC transparent transparent;
border-style:solid dashed dashed;
border-width:3px 3px 0;
display:inline-block;
font-size:0;
height:0;
left:4px;
line-height:0;
padding-top:1px;
position:relative;
top:-1px;
width:0;
}

div#x-header-info img {
    vertical-align: bottom;
    margin-right: 4px;
}

div#title-app {
    position: absolute;
    top: 4px;
    left: 25px;
}

body.admin div#title-app {
    top: 12px;
}

#logo-aplic {
    position: absolute;
    top: 0px;
    left: 0px;
}

#titulo-aplic {
    position: absolute;
    top: 10px;
    left: 68px;
}

/*FIM Layout North Region*/
/*INI Windows*/
.solve-window .x-window-body .x-panel-ml {
    padding-left: 0;
}

.solve-window ul.x-tab-strip-top {
    background-color: #dfe8f6;
    padding-top: 10px;
}

.solve-window .x-window-body .x-panel-mr {
    padding-right: 0;
}

.solve-window .x-window-body .x-panel-mc {
    padding-top: 0;
}

/*.solve-window .x-tab-panel, .solve-window .x-tab-panel-body, .solve-window .x-panel, .solve-window .x-tab-panel-bwrap, .solve-window .x-panel-body, .solve-window .x-panel-bwrap{
 background-color: transparent;
 }*/
.solve-window .x-tab-panel-body, .solve-window .x-panel-body {
    background-color: transparent;
}

.solve-window .x-window-mc {
    border-color: #fff;
}

.header-title {
    background: #647ca5 url(../imagens/layout/win_ativo_header_bg.png) repeat-x;
    height: 62px;
    color: #fff;
}

.header-title div {
    background: transparent url(../imagens/icons/magnifier-left.png) no-repeat scroll 8px 12px;
    padding: 14px 0 0 29px;
}

.header-title div h4 {
    padding: 0 0 1px 0;
}

.header-title div h2 {
    padding: 1px 0 0 0;
    font-size: 18px;
}

/*FIM Windows*/
/*INI FORMS*/
.solve-form form, .solve-panel .x-window-mc, .solve-panel .x-panel-body {
    background: #DFE8F6 url(../imagens/layout/send-window-swirls.png) !important;
}

.space-bottom-small {
    margin-bottom: 5px;
}

.space-bottom-large {
    margin-bottom: 20px;
}

div.form-header-wrap, .solve-form .x-tab-strip {
    /*	background: #bed5d8 url(../imagens/layout/form-header-gradient-blue.jpg) no-repeat !important;*/
    background: #0875b0 url(../imagens/layout/form-header-gradient-darkbl.jpg) no-repeat !important;
}

div.form-header-wrap {
    height: 61px;
}

div.form-header {
    color: #fff;
    padding: 10px;
    /*    font-family: Segoe UI;*/
    font-size: 12px;
    font-weight: normal;
}

div.form-header-line2 {
    font-size: 15px;
    padding-top: 7px;
    font-weight: bold;
}

div.form-header img {
    margin-right: 5px;
    vertical-align: top;
}

/*FIM Forms*/
/*INI SlideBox*/
.msg .x-box-mc {
    font-size: 14px;
}

#msg-div p {
    margin-top: 8px;
}

#msg-div {
    position: absolute;
    top: 10px;
    width: 250px;
    z-index: 20000;
}

/*FIM SlideBox*/
/*INI ICONS toolbar*/
.icon-ruler-plus {
    background-image: url(../imagens/icons/ruler-plus.png) !important;
}

.icon-document-pencil {
    background-image: url(../imagens/icons/document--pencil.png) !important;
}

.icon-ruler {
    background-image: url(../imagens/icons/ruler.png) !important;
}

.icon-database-delete {
    background-image: url(../imagens/icons/database-delete.png) !important;
}

.icon-database-insert {
    background-image: url(../imagens/icons/database-insert.png) !important;
}

.icon-mail-arrow {
    background-image: url(../imagens/icons/mail--arrow.png) !important;
}

.icon-binocular {
    background-image: url(../imagens/icons/binocular.png) !important;
}

.icon-chart {
    background-image: url(../imagens/icons/chart.png) !important;
}

.icon-eye {
    background-image: url(../imagens/icons/eye.png) !important;
}

.icon-pie-chart {
    background-image: url(../imagens/icons/pie-chart3.png) !important;
}

.icon-table {
    background-image: url(../imagens/icons/table.png) !important;
}

.icon-block {
    background-image: url(../imagens/icons/block.png) !important;
}

.icon-block-plus {
    background-image: url(../imagens/icons/block--plus.png) !important;
}

.icon-node-insert-next {
    background-image: url(../imagens/icons/node-insert-next.png) !important;
}

.icon-node-insert-child {
    background-image: url(../imagens/icons/node-insert-child.png) !important;
}

.icon-target {
    background-image: url(../imagens/icons/target.png) !important;
}

.icon-balance {
    background-image: url(../imagens/icons/balance.png) !important;
}

.icon-map {
    background-image: url(../imagens/icons/map.png) !important;
}

.icon-arrow-switch {
    background-image: url(../imagens/icons/arrow-switch.png) !important;
}

.icon-compass {
    background-image: url(../imagens/icons/compass.png) !important;
}

.icon-sql-join-right-exclude {
    background-image: url(../imagens/icons/sql-join-right-exclude.png) !important;
}

.icon-sql-join-right-exclude {
    background-image: url(../imagens/icons/sql-join-right-exclude.png) !important;
}

.icon-plus-circle {
    background-image: url(../imagens/icons/plus-circle.png) !important;
}

.icon-minus-circle {
    background-image: url(../imagens/icons/minus-circle.png) !important;
}

/*FIM ICONS toolbar */
/*INI TABS MAIN*/
.tabs-main {
    margin-left: 0;
}

.tabs-main ul.x-tab-strip-top {
    border-width: 0pt;
}

.tabs-main .x-tab-panel-header {
    margin-left: -3px;
}

.tabs-main .x-tab-strip-inner .x-tab-strip-text {
    font-family: Segoe UI, arial, tahoma;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    padding: 8px 0 6px 0 !important;
}

/*.tabs-main ul.x-tab-strip li:first-child{
 margin-left: 0 !important;
 }*/
.tabs-main .x-window-tl {
    /*background-position:0 50%;*/
    display: none;
}

/*FIM TABS*/
/*INI BorderLayout*/
.x-layout-collapsed-south {
    text-align: center;
}

div.x-panel-collapsed-text {
    font-weight: bold;
    color: #15428B;
    padding-top: 3px;
}

/*FIM BorderLayout*/
/*VIEWPORT TOOLBAR*/
.flex-combo {
    /*padding-left: 27px;*/
}

.flex-combo .x-form-field-wrap {
    background: transparent url(../imagens/layout/FlexCombo195.png) no-repeat scroll 0 0;
    height: 30px;
}

.flex-combo-small .x-form-field-wrap {
    background: transparent url(../imagens/layout/FlexCombo116small.png) no-repeat scroll 0 0;
    height: 21px;
}

.flex-combo-small input, .flex-combo-small .x-form-field-wrap {
    width: 116px !important;
}

#combo-indice-label {
    visibility: hidden;
}

.zoomcards-toolbar td {
    color: #446395;
}

.flex-datepicker .x-form-field-wrap {
    background: transparent url(../imagens/layout/FlexDatePicker195.png) no-repeat scroll 0 0;
    height: 30px;
}

.flex-combo .x-form-text {
    font-size: 12px;
    font-weight: bold;
    padding-left: 16px;
}

.flex-combo-small .x-form-text {
    font-size: 11px;
    /*font-weight: bold;*/
    padding-left: 16px;
}

.ext-ie .flex-combo .x-form-field-wrap {
    height: 28px !important;
    margin-top: 0px;
    padding-top: 0px;
}

.ext-ie .flex-combo-small input {
    line-height: 12px !important;
}

/*.ext-ie6  .bsc-tree-combo .x-form-field-wrap {
 margin-top: 5px;
 }*/
.flex-combo .x-form-text, .flex-combo textarea.x-form-field, .flex-combo-small .x-form-text, .flex-combo-small textarea.x-form-field {
    background: transparent;
    border: 0;
    color: #446395;
}

.flex-combo .x-form-text, .flex-combo textarea.x-form-field {
    padding-left: 12px;
}

.flex-combo-small .x-form-text, .flex-combo-small textarea.x-form-field {
    padding-left: 8px;
}

.flex-combo .x-form-text, .flex-combo textarea.x-form-field, .flex-combo .x-form-trigger {
    margin-top: 7px;
}

.flex-combo-small .x-form-text, .flex-combo-small textarea.x-form-field, .flex-combo-small .x-form-trigger {
    /*margin-top: 3px;*/
}

.flex-combo-small
{
	/*padding-top: 3px;*/
}

.flex-combo .x-form-trigger, .flex-combo-small .x-form-trigger {
    visibility: hidden;
}

.x-btn-flexleft button, .x-btn-flexcenter button, .x-btn-flexright button {
    width: 95px !important;
}

.x-btn-flexleft button, .x-btn-flexcenter button, .x-btn-flexright button {
    font-weight: bold;
}

.x-btn-flexleft .x-btn-left, .x-btn-flexleft .x-btn-ml {
    background: transparent url(../imagens/buttons/LeftFlexButtonLeft.png) no-repeat scroll 0 0;
    height: 31px;
    width: 6px;
}

.x-btn-flexleft .x-btn-over .x-btn-left, .x-btn-flexleft .x-btn-over .x-btn-ml, .x-btn-flexleft .x-btn-pressed .x-btn-ml {
    background: transparent url(../imagens/buttons/LeftFlexButtonLeftOver.png) no-repeat scroll 0 0;
    height: 31px;
    width: 6px;
}

.x-btn-flexleft .x-btn-right, .x-btn-flexleft .x-btn-mr {
    background: transparent url(../imagens/buttons/LeftFlexButtonRight.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexleft .x-btn-over .x-btn-right, .x-btn-flexleft .x-btn-over .x-btn-mr, .x-btn-flexleft .x-btn-pressed .x-btn-mr {
    background: transparent url(../imagens/buttons/LeftFlexButtonRightOver.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexleft .x-btn-center, .x-btn-flexleft .x-btn-mc {
    background: transparent url(../imagens/buttons/LeftFlexButtonCenter.png) repeat-x scroll 0 0;
}

.x-btn-flexleft .x-btn-over .x-btn-center, .x-btn-flexleft .x-btn-over .x-btn-mc, .x-btn-flexleft .x-btn-pressed .x-btn-mc {
    background: transparent url(../imagens/buttons/LeftFlexButtonCenterOver.png) repeat-x scroll 0 0;
}

.x-btn-flexleft .x-btn-over .x-btn-tl, .x-btn-flexleft .x-btn-pressed .x-btn-tl {
    background: none;
}

.x-btn-flexleft .x-btn-over .x-btn-tr, .x-btn-flexleft .x-btn-pressed .x-btn-tr {
    background: none;
}

.x-btn-flexleft .x-btn-over .x-btn-tc, .x-btn-flexleft .x-btn-pressed .x-btn-tc {
    background: none;
}

.x-btn-flexleft .x-btn-over .x-btn-bl, .x-btn-flexleft .x-btn-pressed .x-btn-bl {
    background: none;
}

.x-btn-flexleft .x-btn-over .x-btn-br, .x-btn-flexleft .x-btn-pressed .x-btn-br {
    background: none;
}

.x-btn-flexleft .x-btn-over .x-btn-bc, .x-btn-flexleft .x-btn-pressed .x-btn-bc {
    background: none;
}

.x-btn-flexleft .x-btn-over .x-btn-text, .x-btn-flexleft .x-btn-pressed .x-btn-text {
}

.x-btn-flexcenter .x-btn-left, .x-btn-flexcenter .x-btn-ml {
    background: transparent url(../imagens/buttons/CenterFlexButtonLeft.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexcenter .x-btn-over .x-btn-left, .x-btn-flexcenter .x-btn-over .x-btn-ml, .x-btn-flexcenter .x-btn-pressed .x-btn-ml {
    background: transparent url(../imagens/buttons/CenterFlexButtonLeftOver.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexcenter .x-btn-right, .x-btn-flexcenter .x-btn-mr {
    background: transparent url(../imagens/buttons/LeftFlexButtonRight.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexcenter .x-btn-over .x-btn-right, .x-btn-flexcenter .x-btn-over .x-btn-mr, .x-btn-flexcenter .x-btn-pressed .x-btn-mr {
    background: transparent url(../imagens/buttons/LeftFlexButtonRightOver.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexcenter .x-btn-center, .x-btn-flexcenter .x-btn-mc {
    background: transparent url(../imagens/buttons/LeftFlexButtonCenter.png) repeat-x scroll 0 0;
}

.x-btn-flexcenter .x-btn-over .x-btn-center, .x-btn-flexcenter .x-btn-over .x-btn-mc, .x-btn-flexcenter .x-btn-pressed .x-btn-mc {
    background: transparent url(../imagens/buttons/LeftFlexButtonCenterOver.png) repeat-x scroll 0 0;
}

.x-btn-flexcenter .x-btn-over .x-btn-tl, .x-btn-flexcenter .x-btn-pressed .x-btn-tl {
    background: none;
}

.x-btn-flexcenter .x-btn-over .x-btn-tr, .x-btn-flexcenter .x-btn-pressed .x-btn-tr {
    background: none;
}

.x-btn-flexcenter .x-btn-over .x-btn-tc, .x-btn-flexcenter .x-btn-pressed .x-btn-tc {
    background: none;
}

.x-btn-flexcenter .x-btn-over .x-btn-bl, .x-btn-flexcenter .x-btn-pressed .x-btn-bl {
    background: none;
}

.x-btn-flexcenter .x-btn-over .x-btn-br, .x-btn-flexcenter .x-btn-pressed .x-btn-br {
    background: none;
}

.x-btn-flexcenter .x-btn-over .x-btn-bc, .x-btn-flexcenter .x-btn-pressed .x-btn-bc {
    background: none;
}

.x-btn-flexcenter .x-btn-over .x-btn-text, .x-btn-flexcenter .x-btn-pressed .x-btn-text {
}

.x-btn-flexright .x-btn-left, .x-btn-flexright .x-btn-ml {
    background: transparent url(../imagens/buttons/CenterFlexButtonLeft.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexright .x-btn-over .x-btn-left, .x-btn-flexright .x-btn-over .x-btn-ml, .x-btn-flexright .x-btn-pressed .x-btn-ml {
    background: transparent url(../imagens/buttons/CenterFlexButtonLeftOver.png) no-repeat scroll 0 0;
    height: 31px;
    width: 4px;
}

.x-btn-flexright .x-btn-right, .x-btn-flexright .x-btn-mr {
    background: transparent url(../imagens/buttons/RightFlexButtonRight.png) no-repeat scroll 0 0;
    height: 31px;
    width: 6px;
}

.x-btn-flexright .x-btn-over .x-btn-right, .x-btn-flexright .x-btn-over .x-btn-mr, .x-btn-flexright .x-btn-pressed .x-btn-mr {
    background: transparent url(../imagens/buttons/RightFlexButtonRightOver.png) no-repeat scroll 0 0;
    height: 31px;
    width: 6px;
}

.x-btn-flexright .x-btn-center, .x-btn-flexright .x-btn-mc {
    background: transparent url(../imagens/buttons/LeftFlexButtonCenter.png) repeat-x scroll 0 0;
}

.x-btn-flexright .x-btn-over .x-btn-center, .x-btn-flexright .x-btn-over .x-btn-mc, .x-btn-flexright .x-btn-pressed .x-btn-mc {
    background: transparent url(../imagens/buttons/LeftFlexButtonCenterOver.png) repeat-x scroll 0 0;
}

.x-btn-flexright .x-btn-over .x-btn-tl, .x-btn-flexright .x-btn-pressed .x-btn-tl {
    background: none;
}

.x-btn-flexright .x-btn-over .x-btn-tr, .x-btn-flexright .x-btn-pressed .x-btn-tr {
    background: none;
}

.x-btn-flexright .x-btn-over .x-btn-tc, .x-btn-flexright .x-btn-pressed .x-btn-tc {
    background: none;
}

.x-btn-flexright .x-btn-over .x-btn-bl, .x-btn-flexright .x-btn-pressed .x-btn-bl {
    background: none;
}

.x-btn-flexright .x-btn-over .x-btn-br, .x-btn-flexright .x-btn-pressed .x-btn-br {
    background: none;
}

.x-btn-flexright .x-btn-over .x-btn-bc, .x-btn-flexright .x-btn-pressed .x-btn-bc {
    background: none;
}

.x-btn-flexright .x-btn-over .x-btn-text, .x-btn-flexright .x-btn-pressed .x-btn-text {
}

.x-btn-flexcenter .x-btn-text, .x-btn-flexleft .x-btn-text, .x-btn-flexright .x-btn-text {
    color: #446395;
}

.x-btn-flexcollapse .x-btn-over .x-btn-left, .x-btn-flexcollapse .x-btn-left, .x-btn-flexcollapse .x-btn-ml, .x-btn-flexcollapse .x-btn-over .x-btn-ml, .x-btn-flexcollapse .x-btn-pressed .x-btn-ml {
    background: transparent;
    height: 33px;
    width: 0;
}

.x-btn-flexcollapse .x-btn-over .x-btn-right, .x-btn-flexcollapse .x-btn-right, .x-btn-flexcollapse .x-btn-mr, .x-btn-flexcollapse .x-btn-over .x-btn-mr, .x-btn-flexcollapse .x-btn-pressed .x-btn-mr {
    background: transparent;
    height: 33px;
    width: 0;
}

.x-btn-flexcollapse .x-btn-over .x-btn-center, .x-btn-flexcollapse .x-btn-center, .x-btn-flexcollapse .x-btn-mc, .x-btn-flexcollapse .x-btn-over .x-btn-mc, .x-btn-flexcollapse .x-btn-pressed .x-btn-mc {
    background: transparent url(../imagens/buttons/FlexCollapse.png) no-repeat scroll 0 0;
    width: 33px;
}

.x-btn-flexcollapse .x-btn-over .x-btn-tl, .x-btn-flexcollapse .x-btn-pressed .x-btn-tl {
    background: none;
}

.x-btn-flexcollapse .x-btn-over .x-btn-tr, .x-btn-flexcollapse .x-btn-pressed .x-btn-tr {
    background: none;
}

.x-btn-flexcollapse .x-btn-over .x-btn-tc, .x-btn-flexcollapse .x-btn-pressed .x-btn-tc {
    background: none;
}

.x-btn-flexcollapse .x-btn-over .x-btn-bl, .x-btn-flexcollapse .x-btn-pressed .x-btn-bl {
    background: none;
}

.x-btn-flexcollapse .x-btn-over .x-btn-br, .x-btn-flexcollapse .x-btn-pressed .x-btn-br {
    background: none;
}

.x-btn-flexcollapse .x-btn-over .x-btn-bc, .x-btn-flexcollapse .x-btn-pressed .x-btn-bc {
    background: none;
}

.x-btn-flexcollapse .x-btn-pressed .x-btn-mc {
    background: transparent url(../imagens/buttons/FlexExpand.png) no-repeat scroll 0 0;
    width: 33px;
}

.zoomcards-toolbar {
    border-width: 1px 0 !important;
    border-top-color: #FFFFFF !important;
}

.zoomcards-panel {
    background: transparent url(../imagens/layout/zoom-tabs-background.gif) scroll 0 0;
}

.zoom-button-img {
    vertical-align: middle;
    margin: 0 7px 0 7px;
}

.zoomcards-toolbar .x-toolbar-left {
    width: auto;
    padding-left: 16px;
}

.zoomcards-toolbar .x-toolbar-right {
    width: auto;
    padding-right: 30px;
}

/*FIM VIEWPORT TOOLBAR*/
/*INI FDESK GRID*/
.grid-financial .x-grid3-header {
    background: #E9E9E9 url(../imagens/layout/table_header_bg_noborder.png) repeat-x scroll 0 0;
}

.grid-financial .x-grid3-scroller {
    background-color: #f5f9ff;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color: transparent;
    background-image: none;
}

td.sort-asc .x-grid3-hd-inner img, td.sort-desc .x-grid3-hd-inner img {
    display: none;
}

.x-hide-group .x-grid3-summary-row {
    display: none;
}

.x-grid-summary, .x-grid-summary-body, .x-grid-summary-hd {
    zoom: 1;
}

.x-grid-summary-hd {
    cursor: pointer;
}

.x-grid-summary-hd div.x-grid-summary-title {
    background: transparent no-repeat 3px 3px;
    padding: 10px 4px 10px 17px;
}

.grid-financial div.x-grid3-cell-inner {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.x-grid-summary-collapsed .x-grid-summary-body {
    display: none;
}

.x-grid-summary, .x-grid-summary-body, .x-grid-summary-hd {
    zoom: 1;
}

.x-grid-summary-hd, .x-grid3-summary-row td {
    border-bottom: 2px solid;
    /*border-bottom-color: #99bbe8;*/
    border-bottom-color: #c1dad7;
    background-color: #f5f9ff;
    padding-top: 4px;
}

.x-grid-summary-alttitle {
    font-weight: bold;
    text-align: right;
    text-decoration: none !important;
    color: #4f6b72 !important;
}

.grid-financial {
    color: #4f6b72;
}

.grid-financial .x-grid3-row, .x-grid3-summary-table tr {
    border: none;
    border-bottom: 1px dotted #c1dad7;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eff5ff;
}

.grid-financial .x-grid-with-col-lines .x-grid3-row td.x-grid3-cell, .grid-financial .x-grid3-col {
    /*border-right:1px dotted #c1dad7;*/
    border-right: none !important;
}

.x-grid3-cell-inner, .x-grid3-hd-inner {
    white-space: normal;
}

.x-grid-summary-hd div.x-grid-summary-title {
    background-image: url(../imagens/icons/group-collapse.gif);
    color: #3764a0;
    font: bold 11px tahoma, arial, helvetica, sans-serif;
}

.x-grid-summary-collapsed .x-grid-summary-hd div.x-grid-summary-title {
    background-image: url(../imagens/icons/group-expand.gif);
    background-position: 3px 9px;
}

.x-grid-summary-hd div.x-grid-hide-summary {
    display: none;
}

.x-grid-summary-collapsed .x-grid-summary-hd div.x-grid-summary-alttitle {
    display: none;
}

.x-grid-group-noexpander .x-grid-summary-hd div.x-grid-summary-title {
    background-image: none !important;
    padding-left: 4px !important;
    cursor: default !important;
}

/*FIM FDESK GRID*/
/*INI TABLES*/
table.x-table-financial {
    color: #4F6B72;
    font-family: Helvetica;
    font-size: 12px;
}

.x-table-fixedheader tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

.x-table-fixedheader tbody td:last-child {
    padding-right: 20px;
}

/*IE FIX para Scrollable table body*/
.ext-ie div.x-table-fixedheader {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ext-ie .x-table-fixedheader thead tr {
    position: absolute;
    top: expression(this.offsetParent.scrollTop);
}

.ext-ie .x-table-fixedheader2line thead tr:first-child {
    position: absolute;
    top: expression(this.offsetParent.scrollTop) !important;
}

.ext-ie .x-table-fixedheader2line thead tr {
    position: absolute;
    top: expression(this.offsetParent.scrollTop + 23);
}

.ext-ie .x-table-fixedheader tbody {
    height: auto !important;
}

.ext-ie .x-table-fixedheader table tbody tr:first-child td {
    padding-top: 29px;
}

.ext-ie .x-table-fixedheader2line table tbody tr:first-child td {
    padding-top: 52px;
}

/*Fim FIX IE*/
.x-table-financial .indice-value {
    font-size: 10px;
}

.x-table-financial th:first-child {
    border-left: 1px solid #DEDEDE;
}

.grid-financial td.x-grid3-hd:first-child {
    border-left: 0;
}

.x-table-financial th.centered, .x-table-financial td.centered {
    text-align: center;
}

.x-table-financial th.right-aligned, .x-table-financial td.right-aligned {
    text-align: right;
}

.x-table-financial td.last {
    padding-right: 25px;
}

.x-table-financial td.compra {
    background-color: #F2F8FF;
}

.x-table-financial td.venda {
    background-color: #FFF4F4;
}

.x-table-financial td.posicao {
    background-color: #FFFFEA;
}

.x-table-financial td.data {
    background-color: #F5F5F5;
}

.x-table-financial th, .grid-financial td.x-grid3-hd {
    background: #E9E9E9 url(../imagens/layout/table_header_bg.png) no-repeat scroll 0 0;
    border-bottom: 1px dotted #DEDEDE;
    border-right: 1px dotted #DEDEDE;
    border-top: 1px solid #DEDEDE;
    color: #4F6B72;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: normal;
    text-align: left;
    /*text-transform: uppercase;*/
}

.x-table-financial th {
    padding: 5px 6px 3px 12px;
}

.grid-financial td.x-grid3-hd {
    border-top: 0;
}

.grid-financial .x-grid-group-hd {
    padding-top: 4px;
}

.grid-financial td {
    /*padding-left: 3px;*/
}

.grid-financial td.x-grid3-hd {
    /*padding-left: 2px;*/
}

.grid-financial .x-grid-group-title {
    padding-left: 18px !important;
    background-position: 4px 9px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.grid-carteira-sintetica td.x-grid3-hd {
    text-align: center;
}

.grid-carteira-sintetica .x-grid3-cell {
    /*background-color: #eff5ff;*/
}

/*.grid-carteira-sintetica aqui .x-grid3-cell{
 background-color: #eff5ff;
 }*/
.grid-carteira-sintetica td {
    text-align: right;
}

.grid-carteira-sintetica td:first-child {
    text-align: left;
    /*padding-left : 5px;*/
}

.grid-carteira-sintetica div.x-grid3-col-0 {
    margin-left: 15px;
}

.grid-carteira-sintetica div.x-grid3-col-0, .x-table-financial td.link {
    color: #c75f3e;
    text-decoration: underline;
    cursor: pointer;
}
.grid-carteira-online div.x-grid3-col-0
{
	text-decoration: none;
	cursor: default;
}
.grid-financial .x-panel-mc .x-panel-body {
    border: 0;
}

/*.x-table-financial tbody{
 overflow-y: auto;
 height: 70px;
 }*/
.x-table-financial tr.light-bg {
    background-color: #F5F9FF;
}

.x-table-financial tr.dark-bg {
    background-color: #EFF5FF;
}

.x-table-financial tr td:first-child {
    border-left: 1px dotted #C1DAD7;
}

.x-table-financial td.align-left {
    text-align: left;
}

.x-table-financial td {
    border-bottom: 1px dotted #C1DAD7;
    border-right: 1px dotted #C1DAD7;
    padding: 6px 6px 6px 12px;
}

/*.x-table-detalhe-ativo tr:last-child td{
 padding-bottom: 30px;
 background-color: #000 !important;
 }
 
 .x-table-detalhe-ativo tr:last-child{
 padding-bottom: 30px;
 background-color: #000 !important;
 }*/
.x-table-detalhe-ativo tr td {
    padding-bottom: 30px;
}

.table-empty-text {
    background: transparent url(../imagens/icons/information-balloon.png) no-repeat scroll 18px 22px;
    padding: 24px 0 0 39px;
    color: #4f6b72;
}

/*FIM TABLES*/
/*INI Seletor Periodo*/
div.box-seletor-periodo {
    position: absolute;
    right: 20px;
    top: 5px;
    height:22px;
}

div.box-seletor-periodo span {
    padding: 0 10px 0 10px;
}

div.box-seletor-periodo span, div.box-seletor-periodo div {
    display: inline-block;
    color: #4f6b72;
}

.ext-ie div.box-seletor-periodo span, .ext-ie div.box-seletor-periodo div {
    display: inline;
}

/*FIM Seletor Periodo*/
/*INI TEXT-FORMATTING*/
span.positivo {
    color: #339933;
}

span.negativo {
    color: #FF6666;
}

/*FIM TEXT-FORMATTING*/
/*INI FIX para Chrome Combobox Webkit*/

.ext-webkit .x-form-field-wrap .x-form-trigger {
    position: static;
    top: auto;
    vertical-align: top;
}

/*FIM FIX para Chrome Combobox Webkit*/

/*INI RELATORIO*/
.x-combo-list-inner .level-1
{
	padding-left: 30px !important;
}
.x-combo-list-inner .level-2
{
	padding-left: 60px !important;
}
.x-combo-list-inner .level-3
{
	padding-left: 90px !important;
}
.x-combo-list-inner .level-4
{
	padding-left: 120px !important;
}
.x-combo-list-inner .level-5
{
	padding-left: 150px !important;
}
.x-combo-list-inner .isleaf-false
{
	font-weight: bold;
	color:#AF4C4C;
	padding: 3px 10px 3px 3px;
	margin-top: 7px;
}

#form-relatorios .x-form-item
{
	margin-left: 10px;
}
/*FIM RELATORIO*/