﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="401.aspx.cs" Inherits="Erro_401" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Autorização não concendida. Favor contatar a área de TI."></asp:Label>
    </div>
    </form>
</body>
</html>
