﻿body
{
	background-color: #2F6088;
	font-family: Arial;
	font-size: 11px;
}
#Login1
{
	margin: 30px auto;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
div#Container
{
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
	border: 5px solid #B5D9E5;
	clear: both;
	margin-bottom: 2em;
	width: 500px;
}
div#login_content
{
	-moz-border-radius: 3px 3px 3px 3px;
	background-color: #F5F5F5;
	border: 2px solid #2E5186;
	font-size: 12px;
	height: 210px;
	margin: 0;
	padding: 10px 20px 20px;
	position: relative;
}
input.input_text
{
	-moz-border-radius: 3px 3px 3px 3px;
	border: 1px solid #7F9DB9;
	padding: 4px;
	width: 435px;
}
span.rememberme
{
	display: none;
	margin-top: 10px;
}
span.rememberme label
{
	clear: none;
	display: inline;
}
div.failure-text
{
	color: Red;
	margin-top: 12px;
}
label
{
	clear: both;
	display: block;
	margin: 15px 0 3px;
}
#btnEnviar:hover, a.btnAccess:hover, a.btnAccess:active
{
	color: red !important;
}
#btnEnviar, a.btnAccess, a.btnAccess:link, a.btnAccess:visited, a#Login1_LoginButton, a#EnviarButton
{
	background: url(  "../imagensPersonalizadas/buttons/login_button.gif" ) no-repeat scroll 0 0 transparent;
	color: #000000;
	display: block;
	float: right;
	font-family: inherit;
	font-size: 12px;
	height: 21px;
	margin-top: 54px;
	padding: 2px 2px 0 12px;
	width: 97px;
}

a#EnviarButton
{
	background: url(  "../imagensPersonalizadas/buttons/enviar_button.gif" ) no-repeat scroll 0 0 transparent;
}
#wrap-amnesia
{
	background: url(  "../imagensPersonalizadas/buttons/forgot.gif" ) no-repeat scroll 0 0 transparent;
	height: 28px;
	margin-top: 15px;
	padding-top: 8px;
}
a.btnAccess
{
	cursor: pointer;
}
#wrap-cancel-amnesia
{
	background: url(  "../imagensPersonalizadas/icons/doorback_32_hot.gif" ) no-repeat scroll 0 0 transparent;
	height: 28px;
	margin-top: 15px;
	padding-top: 8px;
}
a.amnesia:hover, a.amnesia:active
{
	color: red;
	text-decoration: none;
}
a.amnesia:link, a.amnesia:visited, a#BackButton
{
	color: #37718F;
	padding-left: 38px;
	text-decoration: none;
}
img#logo-aplic
{
	margin: 30px 0 4px;
	visibility: hidden;
}
#amnesia-title
{
	background: url(  "../imagensPersonalizadas/icons/forgot-big.gif" ) no-repeat scroll 0 0 transparent;
	color: #666666;
	font-size: 20px;
	font-weight: bold;
	height: 48px;
	margin-top: 10px;
	padding: 10px 0 0 60px;
}

div#panel-lembrarsenha-wrapper
{
	width:503px;
	margin: 30px auto;
}

/*ESPECIFICO CAPSE*/
body
{
	background: url( "http://www.capse.com.br/images/bg_site.png" ) repeat scroll 0 0 #000000;
}
div#login_content
{
	border: medium none;
}
div#Container
{
	-moz-border-radius: 2px 2px 2px 2px;
	border: 1px solid transparent;
}
div#logo-cliente
{
	background: url( "http://www.capse.com.br/images/logo_top.png" ) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 120px;
	margin-bottom: 20px;
	width: 178px;
}

table#Login1 {
	height:auto;
	width: auto;
}


