<%@ WebHandler Language="C#" Class="CRUD" %>

using System;
using System.Web;
using System.Collections;
using System.Collections.Generic;
using System.Text.RegularExpressions;
using Newtonsoft.Json;


public class CRUD : IHttpHandler
{

    public void ProcessRequest(HttpContext context)
    {
       JSONResponse jsonResponse = new JSONResponse();

       //NameValueCollection webParams = context.Request.Params;

       /*
       //DEBUG INI
       //string debugRequest = "action=save&sqlTable=Medida&pk=6&NovoAnoUltimoValor=&Nome=Absente%C3%ADsmo%20234&Descricao=&UnidadeMedida=&Referencial=1&MetodoObtencao=1&IdResponsavelPrincipal=3f0d34b5-0ebe-4996-a34b-3ca17edccc96&IdResponsavelAdicional=&CobrancaEmailAtivada=0&PrazoInicioCobranca=1&PrazoLimiteCobranca=15&TemConsolidacao=0&TipoConsolidacao=1&Periodicidade=1&AnoUltimoValor=2009&TemMeta=0&TemTendencia=0&TemTolerancia=0&MinToleranciaVP=5&MaxToleranciaVP=10&MinToleranciaVA=12&MaxToleranciaVA=15&PublicacaoLiberada=0&EdicaoMetaLiberada=1&VP_Ano1_Periodo1=500&VA_Ano1_Periodo1=500&MP_Ano1_Periodo1=600&MA_Ano1_Periodo1=600&TP_Ano1_Periodo1=530&TA_Ano1_Periodo1=530&VP_Ano1_Periodo2=600&VA_Ano1_Periodo2=1.100&MP_Ano1_Periodo2=600&MA_Ano1_Periodo2=1.200&TP_Ano1_Periodo2=550&TA_Ano1_Periodo2=1.100&VP_Ano1_Periodo3=&VA_Ano1_Periodo3=&MP_Ano1_Periodo3=&MA_Ano1_Periodo3=&TP_Ano1_Periodo3=&TA_Ano1_Periodo3=&VP_Ano1_Periodo4=&VA_Ano1_Periodo4=&MP_Ano1_Periodo4=&MA_Ano1_Periodo4=&TP_Ano1_Periodo4=&TA_Ano1_Periodo4=&VP_Ano1_Periodo5=&VA_Ano1_Periodo5=&MP_Ano1_Periodo5=&MA_Ano1_Periodo5=&TP_Ano1_Periodo5=&TA_Ano1_Periodo5=&VP_Ano1_Periodo6=&VA_Ano1_Periodo6=&MP_Ano1_Periodo6=&MA_Ano1_Periodo6=&TP_Ano1_Periodo6=&TA_Ano1_Periodo6=&VP_Ano1_Periodo7=&VA_Ano1_Periodo7=&MP_Ano1_Periodo7=&MA_Ano1_Periodo7=&TP_Ano1_Periodo7=&TA_Ano1_Periodo7=&VP_Ano1_Periodo8=&VA_Ano1_Periodo8=&MP_Ano1_Periodo8=&MA_Ano1_Periodo8=&TP_Ano1_Periodo8=&TA_Ano1_Periodo8=&VP_Ano1_Periodo9=&VA_Ano1_Periodo9=&MP_Ano1_Periodo9=&MA_Ano1_Periodo9=&TP_Ano1_Periodo9=&TA_Ano1_Periodo9=&VP_Ano1_Periodo10=&VA_Ano1_Periodo10=&MP_Ano1_Periodo10=&MA_Ano1_Periodo10=&TP_Ano1_Periodo10=&TA_Ano1_Periodo10=&VP_Ano1_Periodo11=&VA_Ano1_Periodo11=&MP_Ano1_Periodo11=&MA_Ano1_Periodo11=&TP_Ano1_Periodo11=&TA_Ano1_Periodo11=&VP_Ano1_Periodo12=&VA_Ano1_Periodo12=&MP_Ano1_Periodo12=&MA_Ano1_Periodo12=&TP_Ano1_Periodo12=&TA_Ano1_Periodo12=&VP_Ano2_Periodo1=400&VA_Ano2_Periodo1=400&MP_Ano2_Periodo1=500&MA_Ano2_Periodo1=500&VP_Ano2_Periodo2=300&VA_Ano2_Periodo2=700&MP_Ano2_Periodo2=500&MA_Ano2_Periodo2=1.000&VP_Ano2_Periodo3=&VA_Ano2_Periodo3=&MP_Ano2_Periodo3=&MA_Ano2_Periodo3=&VP_Ano2_Periodo4=&VA_Ano2_Periodo4=&MP_Ano2_Periodo4=&MA_Ano2_Periodo4=&VP_Ano2_Periodo5=&VA_Ano2_Periodo5=&MP_Ano2_Periodo5=&MA_Ano2_Periodo5=&VP_Ano2_Periodo6=&VA_Ano2_Periodo6=&MP_Ano2_Periodo6=&MA_Ano2_Periodo6=&VP_Ano2_Periodo7=&VA_Ano2_Periodo7=&MP_Ano2_Periodo7=&MA_Ano2_Periodo7=&VP_Ano2_Periodo8=&VA_Ano2_Periodo8=&MP_Ano2_Periodo8=&MA_Ano2_Periodo8=&VP_Ano2_Periodo9=&VA_Ano2_Periodo9=&MP_Ano2_Periodo9=&MA_Ano2_Periodo9=&VP_Ano2_Periodo10=&VA_Ano2_Periodo10=&MP_Ano2_Periodo10=&MA_Ano2_Periodo10=&VP_Ano2_Periodo11=&VA_Ano2_Periodo11=&MP_Ano2_Periodo11=&MA_Ano2_Periodo11=&VP_Ano2_Periodo12=&VA_Ano2_Periodo12=&MP_Ano2_Periodo12=&MA_Ano2_Periodo12=&VP_Ano3_Periodo1=&VA_Ano3_Periodo1=&MP_Ano3_Periodo1=&MA_Ano3_Periodo1=&VP_Ano3_Periodo2=&VA_Ano3_Periodo2=&MP_Ano3_Periodo2=&MA_Ano3_Periodo2=&VP_Ano3_Periodo3=&VA_Ano3_Periodo3=&MP_Ano3_Periodo3=&MA_Ano3_Periodo3=&VP_Ano3_Periodo4=&VA_Ano3_Periodo4=&MP_Ano3_Periodo4=&MA_Ano3_Periodo4=&VP_Ano3_Periodo5=&VA_Ano3_Periodo5=&MP_Ano3_Periodo5=&MA_Ano3_Periodo5=&VP_Ano3_Periodo6=&VA_Ano3_Periodo6=&MP_Ano3_Periodo6=&MA_Ano3_Periodo6=&VP_Ano3_Periodo7=&VA_Ano3_Periodo7=&MP_Ano3_Periodo7=&MA_Ano3_Periodo7=&VP_Ano3_Periodo8=&VA_Ano3_Periodo8=&MP_Ano3_Periodo8=&MA_Ano3_Periodo8=&VP_Ano3_Periodo9=&VA_Ano3_Periodo9=&MP_Ano3_Periodo9=&MA_Ano3_Periodo9=&VP_Ano3_Periodo10=&VA_Ano3_Periodo10=&MP_Ano3_Periodo10=&MA_Ano3_Periodo10=&VP_Ano3_Periodo11=&VA_Ano3_Periodo11=&MP_Ano3_Periodo11=&MA_Ano3_Periodo11=&VP_Ano3_Periodo12=&VA_Ano3_Periodo12=&MP_Ano3_Periodo12=&MA_Ano3_Periodo12=&VP_Ano4_Periodo1=&VA_Ano4_Periodo1=&MP_Ano4_Periodo1=&MA_Ano4_Periodo1=&VP_Ano4_Periodo2=&VA_Ano4_Periodo2=&MP_Ano4_Periodo2=&MA_Ano4_Periodo2=&VP_Ano4_Periodo3=&VA_Ano4_Periodo3=&MP_Ano4_Periodo3=&MA_Ano4_Periodo3=&VP_Ano4_Periodo4=&VA_Ano4_Periodo4=&MP_Ano4_Periodo4=&MA_Ano4_Periodo4=&VP_Ano4_Periodo5=&VA_Ano4_Periodo5=&MP_Ano4_Periodo5=&MA_Ano4_Periodo5=&VP_Ano4_Periodo6=&VA_Ano4_Periodo6=&MP_Ano4_Periodo6=&MA_Ano4_Periodo6=&VP_Ano4_Periodo7=&VA_Ano4_Periodo7=&MP_Ano4_Periodo7=&MA_Ano4_Periodo7=&VP_Ano4_Periodo8=&VA_Ano4_Periodo8=&MP_Ano4_Periodo8=&MA_Ano4_Periodo8=&VP_Ano4_Periodo9=&VA_Ano4_Periodo9=&MP_Ano4_Periodo9=&MA_Ano4_Periodo9=&VP_Ano4_Periodo10=&VA_Ano4_Periodo10=&MP_Ano4_Periodo10=&MA_Ano4_Periodo10=&VP_Ano4_Periodo11=&VA_Ano4_Periodo11=&MP_Ano4_Periodo11=&MA_Ano4_Periodo11=&VP_Ano4_Periodo12=&VA_Ano4_Periodo12=&MP_Ano4_Periodo12=&MA_Ano4_Periodo12=&VP_Ano5_Periodo1=&VA_Ano5_Periodo1=&MP_Ano5_Periodo1=&MA_Ano5_Periodo1=&VP_Ano5_Periodo2=&VA_Ano5_Periodo2=&MP_Ano5_Periodo2=&MA_Ano5_Periodo2=&VP_Ano5_Periodo3=&VA_Ano5_Periodo3=&MP_Ano5_Periodo3=&MA_Ano5_Periodo3=&VP_Ano5_Periodo4=&VA_Ano5_Periodo4=&MP_Ano5_Periodo4=&MA_Ano5_Periodo4=&VP_Ano5_Periodo5=&VA_Ano5_Periodo5=&MP_Ano5_Periodo5=&MA_Ano5_Periodo5=&VP_Ano5_Periodo6=&VA_Ano5_Periodo6=&MP_Ano5_Periodo6=&MA_Ano5_Periodo6=&VP_Ano5_Periodo7=&VA_Ano5_Periodo7=&MP_Ano5_Periodo7=&MA_Ano5_Periodo7=&VP_Ano5_Periodo8=&VA_Ano5_Periodo8=&MP_Ano5_Periodo8=&MA_Ano5_Periodo8=&VP_Ano5_Periodo9=&VA_Ano5_Periodo9=&MP_Ano5_Periodo9=&MA_Ano5_Periodo9=&VP_Ano5_Periodo10=&VA_Ano5_Periodo10=&MP_Ano5_Periodo10=&MA_Ano5_Periodo10=&VP_Ano5_Periodo11=&VA_Ano5_Periodo11=&MP_Ano5_Periodo11=&MA_Ano5_Periodo11=&VP_Ano5_Periodo12=&VA_Ano5_Periodo12=&MP_Ano5_Periodo12=&MA_Ano5_Periodo12=";
       string debugRequest = "AnoUltimoValor=2009&CobrancaEmailAtivada=0&IdResponsavelPrincipal=f0d1f3fa-8f17-4d85-ab15-f21c286bb5f8&Nome=Absenteísmo 223&Periodicidade=1&PrazoInicioCobranca=5&PrazoLimiteCobranca=5&PublicacaoLiberada=1&Referencial=1&TemConsolidacao=0&TemMeta=0&TemTendencia=0&TemTolerancia=0&action=save&children=6|2,12|2,4|4&ext-comp-1080=Pesquisar Medida&pk=11&sqlTable=Medida";
       string[] debugNameValues = debugRequest.Split('&');
       NameValueCollection webParams = new NameValueCollection();

       foreach (string debugNameValue in debugNameValues)
       {
           string[] pair = debugNameValue.Split('=');
           webParams.Add(pair[0], pair.Length > 1 ? HttpUtility.HtmlDecode(pair[1]) : "");
       }
       //DEBUG FIM  
       */

        /*string action = Utilitario.ProperCase(webParams["action"]);
        string sqlTable = webParams["sqlTable"];
        string pkParam = webParams["pk"];
        
        //Instancio dinamicamente a classe passada no parametro SQLTable via Reflection
        string assemblyName = Utilitario.GetAssemblyName();
        Type boType = Type.GetType(assemblyName + "." + sqlTable + "," + assemblyName);
        Object businessObject = (Activator.CreateInstance(boType)); 

        string methodName = action + "FromUI";

        if (!String.IsNullOrEmpty(pkParam))
        {
            List<Type> types = new List<Type>();
            List<Object> objects = new List<Object>();

            string[] pks = pkParam.Split(',');
            foreach (string pk in pks)
            {
                types.Add(typeof(Int32));
                objects.Add(Convert.ToInt32(pk));
            }
            
            System.Reflection.MethodInfo loadBPKInt32 =
            boType.GetMethod("LoadByPrimaryKey", types.ToArray());
            loadBPKInt32.Invoke(businessObject, objects.ToArray());
        }

        bool fileUpload = webParams["fileupload"] == "1";
        jsonResponse.success = true;
        if (action == "Read")
        {
            jsonResponse.data = boType.GetMethod(methodName).Invoke(businessObject, null);
        }
        else
        {
            Object[] actionHandlerArgs = { webParams };
            if (fileUpload)
            {
                Array.Resize(ref actionHandlerArgs, 2);
                actionHandlerArgs[1] = context.Request.Files;
            }
        
            ActionFromUIOutput output = (ActionFromUIOutput) boType.GetMethod(methodName).Invoke(businessObject, actionHandlerArgs);
            if (output != null)
            {
                if (output.errorCode > 0)
                {
                    jsonResponse.success = false;
                    jsonResponse.errorMessage = output.errorMessage;
                }
                
                if (output.json != null)
                {
                    jsonResponse.data = output.json;
                }
            }
        }

        JsonSerializerSettings jsonSerializerSettings = new JsonSerializerSettings();
        jsonSerializerSettings.Converters.Add(new Newtonsoft.Json.Converters.CustomDataRowConverter());
        jsonSerializerSettings.ContractResolver = new Newtonsoft.Json.Serialization.XmlIgnoreContractResolver();
        
        string jsonText = JsonConvert.SerializeObject(jsonResponse, Formatting.None,
                    jsonSerializerSettings);
       
        if (fileUpload)
        {
            context.Response.ContentType = "text/html";
            context.Response.Write(jsonText);
        }
        else
        {
            context.Response.ContentType = "application/json";
            context.Response.Write(jsonText);
        }*/
        
    }

    public class JSONResponse
    {
        public bool success;
        public string errorMessage;
        public object data;
        public JSONResponse()
        {
        }
    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }
}