<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
<form method="POST" action="http://127.0.0.1/financial/financial.web/login/LoginInit.aspx">
<!--form method="POST" action="http://127.0.0.1/financial/financial.web/login/LoginAjax.ashx?login=admin&password=admin"-->
<!--form method="POST" action="http://127.0.0.1/financial/financial.web/logincustom/itau/LoginAjax.ashx?login=admin&password=admin"-->
<!--form method="POST" action="http://127.0.0.1/financial/financial.web/logincustom/itau/LoginInit.aspx"-->
<input type="text" name="Login1$UserName" value="admin" />
<input type="password" name="Login1$Password" value="" />
<input type="submit" value="Submit" />
</form>
</body>
</html>
