﻿<%@ page language="C#" autoeventwireup="true" inherits="FiltroReportFluxoCaixaSintetico, Financial.Web_Deploy" enableEventValidation="false" theme="DevEx" %>

<%@ Register Assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="System.Web.UI.HtmlControls" TagPrefix="cc2" %>
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxcb" %>
<%@ Register Assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="System.Web.UI" TagPrefix="cc1" %>
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxnb" %>    
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxe" %>
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxwgv" %>
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxpc" %>
<%@ Register Assembly="EntitySpaces.Web" Namespace="EntitySpaces.Web" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >

<head id="Head1" runat="server">
<link href="~/css/forms.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" language="JavaScript">
var backgroundColor;
function OnGetDataCarteira(values) {
    btnEditCodigo.SetValue(values);                    
    popupCarteira.HideWindow();
    ASPxCallback1.SendCallback(btnEditCodigo.GetValue());        
    btnEditCodigo.Focus();    
}
</script>
<script type="text/javascript" language="Javascript" src="../../js/global.js"></script>
</head>

<body >
    <form id="form1" runat="server"> 
    
    <dxcb:ASPxCallback ID="ASPxCallback1" runat="server" OnCallback="ASPxCallback1_Callback">
        <ClientSideEvents CallbackComplete="function(s, e) {             
            OnCallBackCompleteCliente(s, e, popupMensagemCarteira, btnEditCodigo, document.getElementById('textNome'));
        }        
        "/>
    </dxcb:ASPxCallback>
    
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true" EnableScriptLocalization="true"/>
    
    <div class="divPanel">
    <table width="100%"><tr><td>
    <div id="container_small">
    
    <div id="header"><asp:Label ID="label1" runat="server" Text="Fluxo de Caixa Sintético" /></div>
        
    <div id="mainContentSpace">
    
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>
        
        <div class="reportFilter">
        
        <div style="height:20px"></div>                                    
                                        
        <table cellpadding="2" cellspacing="2" border=0>
            <tr>
            <td class="td_Label">
                <asp:Label ID="labelCarteira" runat="server" CssClass="labelNormal" Text="Carteira:"></asp:Label>
            </td>
            
            <td>
                <dxe:ASPxSpinEdit ID="btnEditCodigo" runat="server" CssClass="textButtonEdit"
                        EnableClientSideAPI="True" ClientInstanceName="btnEditCodigo" SpinButtons-ShowIncrementButtons="false"
                        MaxLength="9" NumberType="Integer" AllowMouseWheel="false">
                <Buttons>
                    <dxe:EditButton></dxe:EditButton>
                </Buttons>
                <ClientSideEvents
                         KeyPress="function(s, e) {document.getElementById('textNome').value = '';}" 
                         ButtonClick="function(s, e) {popupCarteira.ShowAtElementByID(s.name);}" 
                         LostFocus="function(s, e) {OnLostFocus(popupMensagemCarteira, ASPxCallback1, btnEditCodigo);}"
                />                            
                </dxe:ASPxSpinEdit>                
            </td>                          
            
            <td colspan="2" width="300">
                <asp:TextBox ID="textNome" runat="server" CssClass="textNome" Enabled="false"></asp:TextBox>
            </td>
            </tr>
                        
            <tr>
            <td class="td_Label">                
                <asp:Label ID="labelData" runat="server" CssClass="labelRequired" Text="Data:"></asp:Label>
            </td>                        
            <td colspan="3">
                <dxe:ASPxDateEdit ID="textData" runat="server" ClientInstanceName="textData"/>
            </td>  
            
            </tr>
                        
            <tr>
            <td class="td_Label">
                <asp:Label ID="labelTipoRelatorio" runat="server" CssClass="labelRequired" Text="Tipo:"></asp:Label>
            </td>
            <td colspan="3">
                <dxe:ASPxComboBox ID="dropTipoRelatorio" runat="server" ClientInstanceName="dropTipoRelatorio" ShowShadow="False" CssClass="dropDownListCurto1" 
                SelectedIndex="0">
                    <Items>
                        <dxe:ListEditItem Value="1" Text="Geral" />
                        <dxe:ListEditItem Value="2" Text="Por cliente" />
                    </Items>
                </dxe:ASPxComboBox>
            </td>
            </tr>
            
            <tr>
            <td class="td_Label">
                <asp:Label ID="label2" runat="server" CssClass="labelNormal" Text="Tipo:"></asp:Label>
            </td>
            <td colspan="3">
                <dxe:ASPxComboBox ID="dropTipoCliente" runat="server" ClientInstanceName="dropTipoCliente" DropDownStyle="DropDown" ShowShadow="False" CssClass="dropDownListCurto1">
                    <Items>
                        <dxe:ListEditItem Value="1" Text="Pessoa Física" />
                        <dxe:ListEditItem Value="10" Text="Pessoa Jurídica" />
                        <dxe:ListEditItem Value="100" Text="Carteira própria" />
                        <dxe:ListEditItem Value="200" Text="Clubes de Inv." />
                        <dxe:ListEditItem Value="500" Text="Fundos de Inv." />
                    </Items>
                </dxe:ASPxComboBox>
            </td>
            </tr>
            
            <tr></tr>
            <tr></tr>
            <tr></tr>
            
            <tr>
            <td class="td_Label">
                <asp:Label ID="label3" runat="server" CssClass="labelNormal" Text="Projeta:"></asp:Label>
            </td>
            <td colspan="3">
                <asp:CheckBox runat="server" ID="chkVencimentoTitulos" Text="Vencimentos em títulos" Checked="true" ></asp:CheckBox>
            </td>
            </tr>
            <tr>
            <td class="td_Label">
            </td>
            <td colspan="3">
                <asp:CheckBox runat="server" ID="chkResgatesNaoCotizados" Text="Resgates não cotizados" ></asp:CheckBox>
            </td>
            </tr>
                        
            <tr>
            <td class="td_Label">
            </td>
            <td colspan="3">
                <asp:CheckBox runat="server" ID="chkLiquidezBolsa" Text="Liquidez em bolsa" ></asp:CheckBox>
            </td>
            </tr>
            
            <tr>
            <td class="td_Label">
            </td>
            <td colspan="3">
                <asp:CheckBox runat="server" ID="chkLiquidezFundos" Text="Liquidez em fundos" ></asp:CheckBox>
            </td>
            </tr>
                        
        </table>                                                                                 
        
        </div>
        
        <div id="reportLinkButton" class="linkButton linkButtonNoBorder">
           <asp:LinkButton ID="btnVisualiza" runat="server" Font-Overline="false" CssClass="btnReport" OnClick="btnVisualiza_Click"><asp:Literal ID="Literal1" runat="server" Text="Visualizar"/><div></div></asp:LinkButton>
           <asp:LinkButton ID="btnPDF" runat="server" Font-Overline="false" CssClass="btnPdf" OnClick="btnPDF_Click"><asp:Literal ID="Literal2" runat="server" Text="Gerar PDF"/><div></div></asp:LinkButton>
           <asp:LinkButton ID="btnExcel" runat="server" Font-Overline="false"  CssClass="btnExcel" OnClick="btnExcel_Click"><asp:Literal ID="Literal3" runat="server" Text="Gerar Excel"/><div></div></asp:LinkButton>
        </div>
                
    </ContentTemplate>
    </asp:UpdatePanel>
    
    </div>
    
    </div>
    </td></tr></table>
    </div>
            
    <cc1:esDataSource ID="EsDSCarteira" runat="server" OnesSelect="EsDSCarteira_esSelect" />
        
   </form>
</body>
</html>