﻿<%@ page language="C#" autoeventwireup="true" inherits="CadastrosBasicos_TabelaCustosBMF, Financial.Web_Deploy" enableEventValidation="false" theme="DevEx" %>

<%@ Register Assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="System.Web.UI.HtmlControls" TagPrefix="cc2" %>
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxe" %>    
<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxwgv" %>

<%@ Register Assembly="EntitySpaces.Web" Namespace="EntitySpaces.Web" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
           
    <link href="~/css/forms.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <form id="form1" runat="server">
    
    <div class="divPanel">
    <table width="100%"><tr><td>
    <div id="container">
        
    <div id="header">
        <asp:Label ID="lblHeader" runat="server" Text="Tabela de Custos BMF"></asp:Label>
    </div>
        
    <div id="mainContent">
    
            <div class="linkButton linkButtonNoBorder" >               
               <asp:LinkButton ID="btnPDF" runat="server" Font-Overline="false" ValidationGroup="ATK" CssClass="btnPdf" OnClick="btnPDF_Click"><asp:Literal ID="Literal1" runat="server" Text="Gerar PDF"/><div></div></asp:LinkButton>
               <asp:LinkButton ID="btnExcel" runat="server" Font-Overline="false" ValidationGroup="ATK" CssClass="btnExcel" OnClick="btnExcel_Click"><asp:Literal ID="Literal2" runat="server" Text="Gerar Excel"/><div></div></asp:LinkButton>              
            </div>
    
            <div class="divDataGrid">            
            <dxwgv:ASPxGridView ID="gridCadastro" runat="server" EnableCallBacks="true"
                KeyFieldName="CompositeKey" DataSourceID="EsDSTabelaCustosBMF"
                OnCustomUnboundColumnData="gridCadastro_CustomUnboundColumnData" >        
                    
            <Columns>           
                <dxwgv:GridViewDataDateColumn FieldName="DataReferencia" Caption="Data" VisibleIndex="4" Width="10%"/>

                <dxwgv:GridViewDataColumn FieldName="CdAtivoBMF" Caption="Código" VisibleIndex="6" Width="10%"/>                    
                
                <dxwgv:GridViewDataColumn FieldName="Serie" Caption="Série" VisibleIndex="7" Width="10%"/>                    
                
                <dxwgv:GridViewDataTextColumn FieldName="FatorReducao" Caption="Fator Redução" Width="35%" VisibleIndex="10"/>                    

                <dxwgv:GridViewDataTextColumn FieldName="Permanencia" Caption="Permanência (P)" Width="35%" VisibleIndex="12"/>
            </Columns>
        </dxwgv:ASPxGridView>            
        </div>
    </div>
    </div>
    </td></tr></table>
    </div>        
    
    <dxwgv:ASPxGridViewExporter ID="gridExport" runat="server" GridViewID="gridCadastro" />
        
    <cc1:esDataSource ID="EsDSTabelaCustosBMF" runat="server" OnesSelect="EsDSTabelaCustosBMF_esSelect" />
        
    </form>
</body>
</html>