﻿<%@ page language="C#" autoeventwireup="true" inherits="Erro_408, Financial.Web_Deploy" enableEventValidation="false" theme="DevEx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Timeout expirado. Tente de novo daqui a pouco ou entre em contato com a área de TI."></asp:Label>
    </div>
    </form>
</body>
</html>
