div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p
{font-family:Arial;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:Arial;
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
h2
{
font-family:Arial;
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
span.code
{
font-family:Courier New;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:Georgia;
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_32432F17D6
{
	font-family:Arial;
	font-size: 11pt;
	color:#000000;
}
span.de_3E072CE3BF
{
	font-family:Calibri;
	font-size: 11pt;
	color:#002060;
}
span.de_3F4B9762DB
{
	font-family:Calibri;
	font-size: 15pt;
	color:#002060;
}
span.de_5060B5CB47
{
	font-family:Calibri;
	font-size: 12pt;
	color:#003366;
}
span.de_58E825B70E
{
	font-family:Calibri;
	font-size: 11pt;
	color:#000000;
}
span.de_71A503D0CA
{
	font-family:Calibri;
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_799A7BB66C
{
	font-family:Calibri;
	font-size: 11pt;
	color:#002060;
	text-decoration:underline;
}
span.de_81BCACC619
{
	font-family:Calibri;
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_85CA1631A3
{
	font-family:Calibri;
	font-size: 11pt;
	color:#17365d;
}
span.de_8EB87848D4
{
	font-family:Times New Roman;
	font-size: 11pt;
	color:#002060;
}
