﻿body
{
    padding: 20px;
    font-family: "Segoe UI";
}

.x-toolbar
{
    display: none !important;
}

.header img
{
    /*margin-left: 20px;*/
}

#form-title
{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;   
    text-transform: uppercase;
    width: 300px;
    zoom: 1;
    *display: inline;
}

#form-header-detail
{
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    font-weight: normal;   
    zoom: 1;
    *display: inline;
    line-height: 25px;
    
}
