﻿body
{
    padding: 20px;
}


.x-panel-body
{
    padding: 20px;
    height: auto !important;
    width: auto !important;
}

.x-form-item-label
{
    background-color: transparent;
    display: block;
    color: #02959B;
    padding: 3px 8px 3px 0px;
    border-bottom: 1px dotted #AAA;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
}

.header img
{
    margin-left: 20px;

}

#form-title
{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;   
        text-transform: uppercase;
}

.footer
{
    padding: 0 20px;
}

#assinatura
{
    
    border-bottom: 1px solid #000;
    width: 400px;
}

#nome-cotista
{
    margin: 4px 0 0 2px;
}

#perfil-calculado
{
    font-size: 15px;
    margin-bottom: 50px;
}

.x-form-cb-checked .x-form-checkbox, .x-form-cb-checked .x-form-radio {
    /*background: #000 none !important;*/
}
.x-form-checkbox, .x-form-radio
{
    background-image: none !important;
}
