﻿@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('fonts/colablig-webfont.eot');
    src: url('fonts/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/colablig-webfont.woff') format('woff'),
         url('fonts/colablig-webfont.ttf') format('truetype'),
         url('fonts/colablig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateRegular';
    src: url('fonts/colabreg-webfont.eot');
    src: url('fonts/colabreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/colabreg-webfont.woff') format('woff'),
         url('fonts/colabreg-webfont.ttf') format('truetype'),
         url('fonts/colabreg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('fonts/colabmed-webfont.eot');
    src: url('fonts/colabmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/colabmed-webfont.woff') format('woff'),
         url('fonts/colabmed-webfont.ttf') format('truetype'),
         url('fonts/colabmed-webfont.svg#ColaborateBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Ext.ux.ComboFieldBox*/

.x-boxselect ul.x-boxselect-list {
	height: auto;
	cursor: text;
	min-height: 20px;
	padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.x-form-field.x-boxselect {
	padding: 0px 3px;
}
.x-boxselect input {
	border: none;
	background: none;
	line-height: 18px;
}
.x-boxselect-input, .x-boxselect-item {
	display: inline-block;
	position: relative;
	*display:inline; /* IE7 */
	zoom:1; /* IE */
}
.x-boxselect-stacked .x-boxselect-item {
	display: block;
}
.x-boxselect-item {
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; o-border-radius: 6px; khtml-border-radius: 6px; border: 1px solid #CAD8F3;
	padding: 0px 1px 0px 5px !important;
	margin: 1px 1px 1px 0;
	background-color: #DEE7F8;
	cursor: default;
}
.x-field:not(.x-item-disabled) .x-boxselect-item:hover {
	background: #BBCEF1;
	border: 1px solid #6D95E0;
}
.x-field:not(.x-item-disabled) .x-boxselect-item.selected {
	border: 1px solid #316AD3 !important;
	background: #658FDC ;
}
.x-boxselect-item-text {
	line-height: 16px;
	padding-right: 20px;
}
.x-boxselect-item-close {
	cursor: pointer;
}
.x-boxselect .empty {
	color: gray;
}
.x-boxselect-icon, .x-boundlist-icon{
        background-repeat: no-repeat !important;
        background-position:  2px center !important;
    }
.x-boxselect-icon{
    text-indent: 17px !important;
}
.x-boundlist-icon{
    text-indent: 20px !important;
}

.x-grid-cell
{
	font: 11px Arial !important;
}
	

/*Globals*/
.login, .x-form-field, .x-form-display-field, .x-body, .x-form-item, .x-tab button, .x-panel-header-text-default,.x-btn-default-toolbar-small .x-btn-inner, .x-window-default,
.x-grid-row .x-grid-cell, button span, .x-btn-default-small .x-btn-inner  {
    font: 12px ColaborateRegular;
}


.x-body, .x-form-item, .x-panel-body-default, .x-window-header-text-default
{
    color: #555;
}

.x-window-header-text-default
{
    color: #fff;
}


.x-toolbar .x-toolbar-separator-horizontal {
border-left: 1px solid #AAA;
border-right: 0;
}

.toolbar-waiting .x-box-inner{
    height: 31px !important;
}

.toolbar-waiting .x-box-inner .btn
{
    visibility: hidden;
}

.toolbar-waiting .x-box-inner .btn-inverse
{
    visibility: visible;
    background: transparent url("themes/base/images/loading_28.gif") no-repeat;
    border: 0 !important;
    width: 35px !important;
    margin-left: 40px !important;
    /*height: 31px;*/
}

.toolbar-waiting .x-box-inner .btn-inverse em
{
    display: none;
}

/*North Panel*/
.viewport-north-panel-body
{
    background-color: #055288;
    padding-left: 20px;
    
}

#button-logoff
{
    position: absolute;
    right: 38px;
    top: 0px;
}

#LiveChat_1348868043
{
    position: absolute;
    right: 109px;
    top: 0px;
   
}

#button-edit-user span, #button-logoff span, #LiveChat_1348868043 span
{
    font-style: normal;
}

.icon-logoff
{
    background: transparent url("themes/base/images/logoff.png") no-repeat;
 }


.icon-help
{
    background: transparent url("themes/base/images/questionmark.png") no-repeat;
 }

.icon-user
{
    background: transparent url("themes/base/images/user.png") no-repeat;
 }


#button-edit-user
{
    position: absolute;
    right: 109px;
    top: 0px;
}

.viewport-north-panel-body .x-field
{
    position: absolute;
    top: 6px;
    left: 270px;
 
}

.viewport-north-panel-body .x-field input
{
    height: 27px;
    padding-left: 27px;
    border-radius: 4px;
    background: #f8f8f8 url("themes/base/images/searchBtn2.gif") no-repeat scroll 7px 7px;
}

.viewport-north-panel-body .x-field input:focus , .viewport-north-panel-body .x-field input:hover
{
    background-color: #fff;
    line-height: 15px;
}

.viewport-north-panel-body .x-btn span{
    color: white;
    /*font-family: 'Trebuchet MS', verdana;*/
    font-size: 11px;
    font-style: italic;
    text-overflow: clip;
    text-shadow: #759E02 0px 1px 0px;
    vertical-align: baseline;
}

.viewport-north-panel-body .x-btn{
    background-color: #00b0f2;
    background-image: none;
    border-bottom-color: white;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: white;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: white;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #00b0f2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 28px;
    margin: 6px 3px 0px 0px;
    padding: 4px 11px 5px 11px;
    /*width: 111px;*/
}

#button-logoff-2
{
	background-color: #00b0f2;
    background-image: none;
    border-bottom-color: white;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: white;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: white;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #00b0f2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    
}

#button-logoff-2-btnInnerEl
{
	color: #ffffff;
}

.x-nbr .x-btn-default-small-tl, .x-nbr .x-btn-default-small-tc, .x-nbr .x-btn-default-small-tr,
.x-nbr .x-btn-default-small-ml, .x-nlg .x-btn-default-small-mc, .x-nbr .x-btn-default-small-mr, 
.x-nbr .x-btn-default-small-bl, .x-nbr .x-btn-default-small-bc, .x-nbr .x-btn-default-small-br, 

.x-nbr .x-btn-default-small-over .x-frame-tl,.x-nbr .x-btn-default-small-over .x-frame-tc,.x-nbr .x-btn-default-small-over .x-frame-tr,
.x-nbr .x-btn-default-small-over .x-frame-ml,.x-nbr .x-btn-default-small-over .x-frame-mc,.x-nbr .x-btn-default-small-over .x-frame-mr,
.x-nbr .x-btn-default-small-over .x-frame-bl,.x-nbr .x-btn-default-small-over .x-frame-bc,.x-nbr .x-btn-default-small-over .x-frame-br
{
       background-image: none;
       background-color: Transparent;
}

/*Main Navigator*/
.x-panel .mainnavigator-panel-body, .mainnavigator-panel-body .x-grid-row .x-grid-cell
{
    background-color: #E7E7E7;
}

.x-panel .mainnavigator-panel-body
{
    border-right: 1px solid #cccccc !important;
    border-top: 1px solid #dcdcdc !important;
}

.x-panel .mainnavigator-panel-body .x-tree-elbow, .x-panel .mainnavigator-panel-body .x-tree-elbow-end
{
    display: none;
}

.mainnavigator-panel-body .x-grid-row-selected .x-grid-cell, .mainnavigator-panel-body .x-grid-row-selected .x-grid-rowwrap-div
{
    background-color: transparent !important;
}

.mainnavigator-panel-body .x-tree-icon
{
    background: url("themes/base/images/main-navigator-icons2.png") no-repeat;
    width: 55px;
    height: 40px;
}

.mainnavigator-panel-body .navigator-icon-home
{
    background-position: 0 -85px;
    margin-top: 20px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-home, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-home
{
    background-position: 0 -45px;
    margin-top: 20px;
}

.mainnavigator-panel-body .navigator-icon-contacts
{
    background-position: 0 -529px;
    margin-top: 20px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-contacts, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-contacts
{
    background-position: 0 -446px;
    margin-top: 20px;
}


.mainnavigator-panel-body .navigator-icon-tasks
{
    background-position: 0 -124px;
    margin-top: 15px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-tasks, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-tasks
{
    background-position: 0 -3px;
    margin-top: 15px;
}

.mainnavigator-panel-body .navigator-icon-cases
{
    background-position: 0 -360px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-cases, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-cases
{
    background-position: 0 -280px;
}

.mainnavigator-panel-body .navigator-icon-deals
{
    background-position: 0 -248px;
    margin-top: 25px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-deals, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-deals
{
    background-position: 0 -208px;
    margin-top: 25px;
}

.mainnavigator-panel-body .navigator-icon-settings
{
    background-position: 0 -326px;
    margin-top: 20px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-settings, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-settings
{
    background-position: 0 -166px;
    margin-top: 20px;
}


.mainnavigator-panel-body .navigator-icon-create
{
    background-position: 0 -480px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-create, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-create
{
    background-position: 0 -400px;
}


.mainnavigator-panel-body .navigator-icon-last-viewed
{
    background-position: 0 -120px;
}

.mainnavigator-panel-body .x-grid-row-selected .navigator-icon-last-viewed, .mainnavigator-panel-body .x-grid-row-over .navigator-icon-last-viewed
{
    background-position: 0 0px;
}

/*Panel Defaults*/
.wrapper-panel{
    background-color: #f5f5f5;
}

.portlet
{
    margin-bottom: 20px;
}

.portlet > .x-panel-body{
    padding: 16px;
    border-color: #d5d5d5;
    border-radius: 5px;
    
    
}

.portlet h3
{
    color: #999;
    margin-bottom: 7px;
    font-weight: normal;    
}

/*Deal Panel*/
.deal-left-column-body
{
    padding: 8px;
}

.deal-left-column
{
    border-right: 1px solid #ccc;
}


/*Person and Company Panel*/
.person-left-column-body, .company-left-column-body
{
    padding: 8px;
}

.person-left-column, .company-left-column, .edit-form .left-column
{
        border-right: 1px solid #ccc;

}

.document-task-list .x-btn
{
    margin-top: 10px;
} 

.document-task-list input
{
    margin: 3px;
}

.person-header-info, .deal-header-info, .company-header-info
{
    padding: 8px 15px 8px 15px;
    background-color: #f8f8f8;
} 
.person-header-info h1, .deal-header-info h1, .company-header-info h1
{
    font-size: 27px;
}

.btn-edit-person, .btn-edit-deal, .btn-edit-company
{
    position: absolute;
    right: 20px;
    top: 15px;
    width: 90px;
    height: 22px;
}

a.map
{
    display:block;
    width:189px;
    height:90px;
    border: 3px solid #ddd;
    border-radius: 3px;
}


/*Tab Panels*/
.x-tab-bar .x-horizontal-box-overflow-body
{
    background-color: #f8f8f8;
}

.x-tab-bar-body
{
    border: 0;
    border-width: 0;
}

.x-tab-bar-strip
{
    display: none;
}

.x-tab-bar-top .x-tab-bar-body-default-plain
{
    padding-bottom: 0px;
}

.x-tab-default-top 
{
    box-shadow: none;   
}
.x-tab
{
    border-bottom: 0 !important;
    background: #dedede none;
    border: 0;
    color: #000;
}

.x-tab-top-active
{
    background: #6e6e6e none;
    
}
.x-tab button
{
    color: #555;
}
.x-tab-active button
{
    color: #fff;
}

.x-tab-bar-body
{
    border-bottom: 1px solid #dcdcdc !important;
    
}

.tabpanel-child-panel
{
    padding: 15px 20px 35px 20px;
    border-bottom: 1px solid #ddd;
}

.x-tab:first-child
{
    margin-left: 15px;
}

.x-tab
{
    margin-right: 5px;   
}

/*Buttons*/

.x-btn-default-small .x-btn-inner
{
    padding-top: 2px;
}

.x-btn-plain
{
    background: transparent none !important;
    border: 0;
}

.x-btn-plain .x-btn-inner
{
    color: #3d3d3d;
}

.x-btn-delete
{
    background: transparent url("themes/base/images/cross-circle-frame_bw.png") no-repeat !important;
    border: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.x-btn-delete.x-btn-over, .x-btn-delete:hover
{
    background: transparent url("themes/base/images/cross-circle-frame.png") no-repeat !important;    
}

.x-form-item .x-btn-delete
{
    margin: 3px 0 0 3px;
}

/*.x-ie7 .x-btn-plain .x-btn-inner, .x-ie8 .x-btn-plain .x-btn-inner
{
    color: #3d3d3d;
}*/

.btn button, .btn-aplicacao button, .btn-resgate button
{
    background: transparent;
    border: 0;
    cursor: pointer;
}

.btn
{
    box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin: 0 0 0 5px;
    outline: white none 0;
    padding: 3px 10px 4px 10px;

    background-color: whiteSmoke;
    
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white,#E6E6E6);
            
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6E6E6E', endColorstr='#FF333333', GradientType=0);

    border-radius: 4px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-aplicacao
{
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin: 0 5px 0 0px !important;
    outline: white none 0;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    background: #98cd37 none;
    background-image: none;
}

.btn-aplicacao span, .btn-resgate span
{
    color: #fff !important;
}

.btn-resgate
{
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin: 0 0 0 5px;
    outline: white none 0;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    color: #fff;
    background: #6cd4dc none;
    background-image: none;
}

.btn-inverse
{
    color: #fff;
    background-color: #565656;
    background-image: -moz-linear-gradient(top, #00c2ff, #00aff2);
    background-image: -ms-linear-gradient(top, #00c2ff, #00aff2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00c2ff), to(#00aff2));
    background-image: -webkit-linear-gradient(top, #00c2ff, #00aff2);
    background-image: -o-linear-gradient(top, #00c2ff, #00aff2);
    background-image: linear-gradient(top, #00c2ff,#00aff2);
    border-color: #76e5ff #00aff2 #0086bc #00aff2;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

.btn-warning
{
    color: #fff;
    background-color: #780e10;
    background-image: -moz-linear-gradient(top, #A52D32, #730B0D);
    background-image: -ms-linear-gradient(top, #A52D32, #730B0D);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A52D32), to(#730B0D));
    background-image: -webkit-linear-gradient(top, #A52D32, #730B0D);
    background-image: -o-linear-gradient(top, #A52D32, #730B0D);
    background-image: linear-gradient(top, #A52D32,#730B0D);
    border-color: #720A0C #720A0C #2E0101;
    width: 30px !important;
    padding-left: 0px;
    /*padding-right: 5px;*/
}

.btn-warning button
{
    width: 22px !important;
}

.btn span{
    font-size: 13px !important;
    
}

.btn-inverse span{
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}

 .btn-warning span{
    color: #ddd !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}

/* Forms*/

.x-autocontainer-form-item, .x-anchor-form-item, .x-vbox-form-item, .x-table-form-item
{
    margin-bottom: 15px;
}

.x-form-text, textarea.x-form-field, .form input
{
    background: none repeat-x scroll 0 0 #FFF; /*border: 2px solid #AFAFAF;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

.x-form-trigger-input-cell input
{
    border-radius: 4px 0 0 4px;
}

.form input
{
    height: 15px;
    padding: 3px;
}

input.x-form-focus, textarea.x-form-focus
{
    /*background-color: #ffffff;     border: 2px solid #AFAFAF;*/
}

.field-validation-error
{
    display: block;
    color: #c00;
}

 input:not(.highlightable):focus, select:focus, textarea:focus, .ui-selectmenu:focus, ul.token_list.ui-state-focus, .editable:focus, .editable input[type="text"]:focus {
    border-color: #78A300;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset,0 0 2px #78A300;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset,0 0 2px #78a300;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset,0 0 2px #78A300;
    outline: medium none;
}

input, textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
    -o-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}

/*Windows*/

.x-window-default
{
    background: #fff;
    padding: 0;
    border: 0 solid #ddd;
    box-shadow: none;
    border-radius: 5px;
}

.x-window-item > .x-panel-body
{
    /*padding: 20px;*/
    border: 0;
    border-bottom: 1px solid #dddddd;
}

.x-window-header-default-top
{
    box-shadow: none;
    background-color: #055288;
    border: 0;
    padding: 10px;
    border-radius: 0;
    border-bottom: 1px solid #dddddd !important;
}

.x-window-body
{
    background-color: transparent;
}

.x-window-item > .x-toolbar-footer, .x-window > .x-toolbar-footer
{
    background-color: #f5f5f5;
    padding: 10px;
    border-top: 1px solid #fff !important;
    margin: 0;
    /*border-radius: 0;*/
    border-radius: 0 0 5px 5px;
}


.x-mask
{
    background: none repeat scroll 0 0 #000;
    opacity: 0.8;
}

.x-tool-close
{
    display: none;
}

/*Grids*/

.x-panel .x-grid-body 
{
    border-color: #ddd;
}



div.activity-sprite{
    background: transparent url("themes/base/images/activity_sprites.png") no-repeat;
    width:24px; 
    height:24px
}

.crmax-grid-panel
{
    margin-top: 20px;
}

.crmax-grid-panel .x-grid-body
{
    border: 0 dashed transparent !important;
    border-top-width: 0 !important;
}

.x-column-header 
{
    border-right: 0;
    background-image: none;
    background-color: #efefef;
    border-top: 1px solid #efefef;
}

.x-grid-header-ct
{
    background: #efefef none;
}

.contact-grid .x-grid-cell, .crmax-grid-panel .x-grid-cell {
    background-color: white;
    border-color: #DDD;
    border-style: dotted;
    /*border-top-color: transparent;*/
    border-width: 0 0 1px 0;
    padding: 10px;
}

.contact-grid .x-grid-cell{
    padding: 2px;
}

.x-grid-row .x-grid-cell-row-checker
{
    padding: 0;
}

/*.x-grid-with-row-lines .x-grid-cell {
    border-width: 1px 0 0 0;
}*/

/*FileInfoPanel*/
ul.attachments
{
    margin: 4px 0 4px 0;
    
}
ul.attachments li {
    display: inline-block;
    list-style-type: none;
    margin: 0 8px 4px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    background-color: #F4F4F4;
}

ul.attachments li a.attachment {
    color: #196491;
    padding-left: 27px;
    text-decoration: none;
    background-color: transparent;
}

ul.attachments li .attachment {
    position: relative;
    background-color: white;
    display: inline-block;
    font-size: 10px;
    padding: 2px 6px 4px 6px;
}

ul.attachments li .attachment-icon {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 18px;
 }

.attachment-icon-png
{
    background: url("themes/base/images/icon_PNG_small.gif") no-repeat;
}

.attachment-icon-gen
{
    background: url("themes/base/images/icon_GEN_small.gif") no-repeat;
}

/*Comments*/

.comments-grid-panel .x-panel-header
{
    border-width: 0;
    box-shadow: none;
    background: transparent none no-repeat;
}

.comments-grid-panel img.avatar
{
    width: 40px;
    height: 40px;
}

.note-panel 
{
    padding:30px;
}

.note-panel .comment-form
{
    margin-top: 30px;
}



/*Upload Panel*/
.upload-panel .x-toolbar
{
    background: transparent none;
}

.upload-panel .x-toolbar .x-btn-default-toolbar-small-over
{
    background: transparent none;
    border-color: transparent;
    color: #f69313;
}

.upload-panel-hidden-body .x-grid-header-ct, .upload-panel-hidden-body .x-grid-body
{
    display: none;
}

.upload-panel
{
    margin-bottom: 20px;
}

.upload-panel .x-btn-default-toolbar-small, .upload-panel .x-btn-default-toolbar-small-over
{
    background: transparent url("themes/base/images/attach.png") no-repeat !important;
}

.upload-panel .x-btn-default-toolbar-small .x-btn-inner
{
    padding-left: 15px;
    border-bottom: 1px dotted #000;
}

.upload-panel .btn-delete-grid-row
{
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 0;
    background: transparent url("themes/base/images/cross-button.png") no-repeat;
}

/*Tasks*/


.tasks-panel .x-panel-body
{
    padding: 10px 5px 10px 5px;
    background-color: #fafafa;
    /*background-color: #d3d3d3;*/
    overflow-x: scroll;
    /*background: #ffffff url("themes/base/images/pizazz-light.png");*/
}

div.task-category
{
    border-top: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background: #E3E3E3;
    border-radius: 3px;
    float: left;
    width: 320px;
    margin: 0 12px 20px 4px;
    padding-bottom: 10px;
    
}

.latest-activity-panel div.task-category
{
    border-top: none;
    box-shadow: none;
    background: transparent;
}

div.task-category-body
{
    padding: 2px;
    /*max-height: 300px;*/
    overflow-y: auto;
    /*height: 280px;*/
}

div.task-category > h3
{
    position: relative;
    font-size: 16px;
    padding-left: 24px;
    margin-bottom: 7px;
}

div.task-category span.header-icon
{
    background: transparent url("themes/base/images/tasks_sprites.png") no-repeat;
    background-position: -54px -108px;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: none;
    margin-right: 0;
    left: 3px;
    position: absolute;
    top: 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
}

div.task-category .task
{
    background: white;
    border: 1px solid #B9B9B9;
    border-bottom-color: #939393;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 4px 4px 4px;
    min-height: 18px;
    padding: 6px 8px 6px;
    position: relative;
    /*transition-property: background,margin-bottom,opacity;
    transition-duration: 0.2s, 0.1s, 0.2s;
    transition-timing-function: ease-out;*/
    
}

div.task-category .task-over
{
    border-color: #1F6993;
    box-shadow: 0 0 4px #1F6993;
}

.app-icon {
    background-image: url("themes/base/images/tasks_sprites.png");
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    float: left;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    width: 30px;
    vertical-align: top;
    white-space: nowrap;
}


.badge {
    background: #E6E6E6;
    border: 1px solid #D9D9D9;
    border-bottom-color: lightGrey;
    border-radius: 2px;
    color: #555;
    cursor: default;
    float: left;
    font-size: 11px;
    
    height: 16px;
    margin: 0 4px 4px 0;
    padding: 0 4px 0 0;
    position: relative;
    text-decoration: none;
}

.small-icon.attachment-icon {
    background-position: -126px -108px;
}

.small-icon.check-icon {
    /*background-position: -126px -108px;*/
    background: transparent url("themes/base/images/checkbox2.gif") no-repeat;
    cursor: pointer;
    float: left;
    padding-top: 1px;
    margin-right: 2px;
}

.small-icon {
    display: inline-block;
    float: none;
    height: 18px;
    margin-right: 0;
    width: 18px;
}

.badge .app-icon {
    margin-top: -2px;
    margin-right: 1px;
}

.badge-icon-only
{
    padding: 0;
}


div.clearfix
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
}

.task > p
{
    font-size: 14px;
    margin-bottom: 5px;
}

.task > p > span
{
    font-size: 12px;
    font-weight: bold;
    padding-right: 4px;
}

.document-read div.task-category-body
{
    height: auto;
}

.document-read div.task-category
{
    width: 250px;
    
    border-top: none;
    box-shadow: none;
    background: #fff;
    border-radius: 0;
    margin: 0;
    padding-bottom: 0;
}

.document-read div.task-category .task 
{
   margin-left: 0;
   font-size: 11px;
   padding: 4px;
}

.document-read div.task-category .task > p {
    font-size: 12px;
}

.document-read div.task-category > h3
{
    margin-bottom: 0;
}

/*Deals*/
.winning-chance{
    display: inline-block;
    float: right;
    color: white;
    border-radius: 3px;
    text-transform: lowercase;
    width: 20px;
    text-align: center;
}

.winning-chance-20
{
    background-color: #9bd6ec;
}

.winning-chance-50
{
    background-color: #f9df66;
}

.winning-chance-80
{
    background-color: #f17f7f;
}

.dealactivity-list .x-grid-table, .contactactivity-list .x-grid-table
{
    cursor: pointer;
}

.deal-list .deal-view
{
    padding-left: 20px;
}

.deal-view
{
    width: 600px;
}

.deal-view .deal-category h3
{
    font-size: 14px;
    margin: 20px 0 10px 0;
    border-bottom: 2px solid #555;
    /*padding-left: 10px;*/
}

.deal-view .deal-category-5 h3
{
    color: #090;
    border-bottom: 2px solid #090;
}

.deal-view .deal-category-10 h3
{
    color: #C00;
    border-bottom: 2px solid #C00;
}
   
.deal-view .deal-category h3 span
{
    font-weight: normal;
    font-size: 13px;
}

.deal-view .deal-info
{
    float: left;
    margin-left: 10px;
    width: 470px;    
}

.deal-view .deal 
{
    padding: 10px;
    border-bottom: 1px dotted #dfdfdf;
    color: #999;
}

.deal-view .deal .avatar
{   
    background: url("themes/base/images/sprites_collection.png") no-repeat -224px -56px;
    width: 55px;
    height: 50px;
    display: inline-block;
    float: left;
}

.deal-view .deal-category .deal:last-child
{
    border-bottom: none;
}

.deal-view .deal-info p
{
    line-height: 18px;
}

.deal-view .deal-info .deal-link{ 
    color: #196491;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.deal-view .deal-info .deal-contact-link
{
    font-size: 13px;
    font-weight: normal;
    color: #555;
    cursor: pointer;
}

.deal-view .deal-info p.price
{
    color: #555;
}


.deal-header-info
{
    height: 95px;
}

.deal-header-info .deal-contact-link
{
    font-size: 15px;
    font-weight: normal;
    color: #555;
}

.deal-header-info .status
{
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 3px 17px;
    background-color: #555;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}

.deal-header-info .status-5
{
    background-color: #090;
}

.deal-header-info .status-10
{
    background-color: #c00;
}

/*Contacts*/
.contact-grid .avatar, .user-list .avatar
{   
    width: 55px;
    height: 55px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    
    
}

.contact-grid .blank_person_avatar, .user-list .blank_person_avatar
{
    background: url("themes/base/images/sprites_collection.png") no-repeat -112px -0px;
}

.contact-grid .blank_company_avatar
{
    background: url("themes/base/images/sprites_collection.png") no-repeat -0px -0px;
}


.contact-grid h2.contact-link{ 
    color: #196491;
    padding-top: 5px;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 10px;
}

.contact-grid p
{
    margin-bottom: 1px;
}

.contact-grid a
{
    text-decoration: none;
    color: #aaa;
}

.contact-grid a.email-link
{
    margin-right: 10px;
}

.contact-grid .company-link
{
    cursor: pointer;
}

/*Import Window*/
.select-import-type h3
{
    font-size: 16px;
}

.select-import-type li
{
    margin: 20px 0 20px 0;
    cursor: pointer;
    font-size: 14px;
}

.upload-instructions p
{
    font-size: 13px;
    line-height: 16px;
    margin: 16px 0 16px 0;
}

/*Person Form*/
.edit-form .left-column,.edit-form .right-column 
{
    border-top: 2px #E8E8E8 solid;    


    padding: 10px;
    /*background-color: #F8F8F8;*/
    /*background: #ffffff url('http://eduardo-freitas.squarespace.com/universal/images-v6/configuration/pizazz-light.png');*/
}

.x-panel-header
{
    background: #FBFBFB none;
    /*height: 40px;*/
    padding: 10px;
    border-top: 1px transparent solid;
    border-bottom: 1px #C5C5C5 solid !important;
    /*position:  fixed !important;*/
    
}

.x-nlg .x-panel-header-default-top, .x-nlg .x-toolbar-default,
.x-nlg .x-tab-top, .x-nlg .x-tab-top-active
{
    background-image: none !important;
}


.x-panel-header-text-default
{
    font-size: 15px;
    color: #3d3d3d;
    
}


.edit-form .x-panel-body
{
    /*background-color: #f8f8f8;*/
    background-color: #fcfcfc;
    border-top: 0;
}

.edit-form .left-column
{
    /*background-color: #F7F7F7;*/
}

.edit-form .left-column{
    padding: 10px;
    background-color: #f3f3f3;
}

.edit-form .left-column .x-panel-body, .edit-form .right-column .x-panel-body
{
    background-color: transparent;
    }

.edit-form .right-column .x-container .x-form-item-label
{
    background-color: transparent;
    /*width: 500px !important;*/
    display: block;
    color: #02959B;
    padding: 3px 8px 3px 0px;
    border-bottom: 1px dotted #AAA;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
}

.edit-form .right-column .inline-field .x-form-item-label
{
    width: 80px !important;
    background-color: transparent;
    padding: 0;
    color: #3d3d3d;
    /*color: #02959B;*/
    font-size: 11px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0;
}

.edit-form .right-column .x-table-form-item, .edit-form .right-column .x-table-form-item,  .edit-form .right-column .x-field
{
    margin-bottom: 5px !important;
}

.edit-form .right-column .x-btn-plain
{
    margin-bottom: 15px;
    margin-top: 5px;
}

.edit-form .x-toolbar-footer
{
    background-color: #f5f5f5;
    margin-top: 0;
    padding: 10px;
    border-top: 1px solid #fff !important;
}

.x-toolbar-default
{
    background: #f0f0f0 none;
    border: 0;
}

.x-panel-body-default
{
    border: 1px solid #ddd;
}

.edit-form .x-btn-plain .x-btn-inner
{
    color: #aaa;
}

.edit-form .x-btn-default-small .x-btn-inner
{
    padding-left: 0;
}

/*Ext*/
.x-border-layout-ct
{
    background-color: #f7f7f7;   
}

/*Settings Panel*/
#settings-panel-dataview
{
    padding: 20px 10px;
    border-top: 1px solid #d8d8d8 !important;
}

#settings-panel-dataview h3
{
    font-size: 13px;
    margin-bottom: 10px;
}

#settings-panel-dataview li
{
    font-size: 12px;
    border-bottom: 1px dotted #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    color: #02959B;
    cursor: pointer;
}

#settings-panel-dataview li:hover
{
    background-color: #fcfffc;
}

#settings-panel-dataview li:first-child
{
    border-radius: 4px 4px 0 0;
    
}

#settings-panel-dataview li:last-child
{
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #ddd;
}

.user-list .x-grid-body
{
    border-top: 1px solid #ddd !important;
}

.active-settings-entry
{
    font-weight: bold;
}

/*Welcome Panel*/

.welcome-panel .x-panel-body
{
    padding: 10px 20px 30px 20px;
}

.welcome-panel h2
{
    font-size: 24px;
    line-height: 36px;
}

.welcome-panel h3
{
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
}

.welcome-panel .step-one
{
    background: url("themes/base/images/number_one.png") no-repeat;
    height: 100px;
    padding-left: 70px;
    margin-top: 30px;
}

.welcome-panel .step-one h3
{
    margin-bottom: 10px;
}

.welcome-panel span.link
{
    color: #1A74B0;
    cursor: pointer;
}

.welcome-panel .features
{
    margin-top: 14px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 0px solid #ccc;
    /*border-radius: 0 25px 0 0;*/
    width: 690px;
    height: 230px;
    padding-top: 8px;
    background-color: #fdfdfd;
}

.welcome-panel ul
{
    /*margin-left: 70px;*/
}

.welcome-panel li
{
    width: 175px;
    float:left;
    margin-left: 30px;
    margin-right: 20px;
}

.welcome-panel li img
{
    /*width: 175px;
    height: 100px;*/
}

.welcome-panel li h4
{
    font-size: 14px;
    margin: 12px 0 6px 0;
}

.welcome-panel li h4, .welcome-panel li p
{
    padding: 0 4px 0 4px;
}

.welcome-panel .step-other h5
{
    margin-top: 40px;
    margin-bottom: 10px;
}

.welcome-panel .step-other h3
{
    padding-top: 5px;
    border-top: 1px dotted #ddd;
    width: 690px;
    margin-bottom: 5px;
}
.welcome-panel .step-one p, .welcome-panel .step-other p
{
    color: #9d9d9d;
}

/*Login and Registration*/

.login
{
    background-color: #F3F1EC;
}

.login .box, #registration-form fieldset
{
    background: white;
    margin: 105px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #AAA;
    -moz-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
    width: 366px;
}

#registration-form .column-1, #registration-form .column-2
{
    float: left;
    width: 290px;
}

#registration-form h2
{
    margin: 20px 0 30px 0;
}

#registration-form .column-1
{
    margin: 0 70px 0 30px;
}

#registration-form fieldset
{
    width: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#registration-form .btn-inverse
{
    margin-left: 310px;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 30px 30px 30px; 
}

.login .inner-box
{
    padding: 20px;
    position: relative;
}


.login .editor-label, #registration-form .editor-label
{
    color: #02959B;
    margin: 0 0 5px 0;
    font-size: 14px;
}


.login #Login,.login #Password
{
    width: 314px;
    margin-bottom: 10px;
    padding: 5px;
}

#registration-form .editor-label
{
    margin-top: 20px;
}

 #registration-form input 
 {
     padding: 5px;
     width: 278px;
 }

 #registration-form #tenant-field input
 {
     width: 150px;
 }

.login #Login
{
    margin-bottom: 20px;
}


.login .rememberme
{
    color: #777;    
}

.login .btn-inverse
{
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.validation-summary-errors{
    background: #C00;
    color: white;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/*UX Window Notification*/

.ux-notification-window 
{
    /*border: 1px solid #000;*/
    background-color: #00b0f2;
    top: 250px !important;
}

.ux-notification-window .x-window-header
{
    /*display: none;*/
}

.ux-notification-window .x-window-body
{
    text-align: center;
	padding: 18px 5px 18px 5px;
	width: 200px;
	
	font-size: 18px;
	color: #fff;
	border: 0px solid white;
}

/*UX ClearButton*/
.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(themes/base/images/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}

/*Filter*/


.tag-item
{
    cursor: pointer;
    float: none;
    
    padding: 4px;
    height: 23px;
    margin: 7px 0 7px 0;
    background-color: #D6D6D6;
       
}

.active-tag
{
    font-weight: bold;
    background-color: #6e6e6e;
    border-color: #6e6e6e;
    color: #fff;
    
}

/*Users*/
.resend-invitation-link
{
    margin-top: 4px;
    background-color: #efefef;
    padding: 2px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    /*width: 100px;*/
    width: auto !important;
}

/*Mask*/
.x-mask
{
    /*opacity: .2;*/
}

.x-mask-msg
{
    border: none;
    background: transparent;
    height: 30px;
}

.x-mask-msg div 
{
    /*background: transparent url("themes/base/images/loading_32_inverted_grey.gif") no-repeat;*/
    background: transparent url("themes/base/images/loading_32_inverted.gif") no-repeat;
    border: none;
    height: 35px;
}

/*Daily Activity*/
div.day
{
    width: 100px;
}

.day a
{
    display: block;
    width: 98px;
    height: 94px;
    background: white;
    font-weight: bold;
    border: 7px solid #DCD9D3;
    border-radius: 100px;
    color: #477B96;
}

.day a > span {
    display: table-cell;
    width: 98px;
    height: 87px;
    vertical-align: middle;
    text-align: center;
    line-height: 16px;
    font-size: 17px;
}

.day a > span time {
    display: block;
    font-weight: normal;
    font-size: 11px;
    color: #BBB;
}

.daily-activity
{
    border-left: 7px solid #DCD9D3;
    margin-left: 45px;
    width: 600px;
}

.daily-activity > div
{
    padding: 7px 0 7px 10px;
    font-size: 14px;
}

.daily-activity div.time
{
    width: 50px;
    float: left;
    color: #AA9C84;
}

.daily-activity div.description
{
    width: 450px;
    float: left;
 }

.daily-activity .excerpt
{
    width: 450px;
    color: #AA9C84;
}

.daily-activity span.action
{
    font-weight: bold;
}

.daily-activity span.link
{
    color: #1A74B0;
    cursor: pointer;
}

.daily-activity span.link:hover
{
    text-decoration: underline;
}

.home-panel .x-tab-bar
{
    background: #f8f8f8 none;
}

.home-panel .x-tab
{
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -6px;
}

.home-panel .x-tab:first-child
{
    margin-left: 24px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    
}

.home-panel .x-tab-bar-top .x-tab-bar-body {
    height: 40px !important;
    padding-top: 10px;
}

.home-panel .x-tab-bar .x-horizontal-box-overflow-body 
{
    height: 40px !important;
}

/*.latest-activity-panel ::-webkit-scrollbar 
{
    width: 6px;
    height: 6px;
}*/

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 5px;
    background-color: #e3e3e3;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    background-color: #999;
}

.latest-activity-panel .x-panel-header 
{
    background-color: #f8f8f8;
    border-bottom: 0;
}

/*Paging Toolbar */
.paging-toolbar .x-toolbar-text {
    font-weight: normal;
    color: #999;
}

.paging-toolbar .x-toolbar-docked-bottom
{
    background: #f8f8f8 none;
}



.MediaItemContainer {
    float: left;
    margin-right: 6px;
    margin-top: 10px;
    margin-left: 10px;
}

.MediaItem .FileName {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
}

.MediaItem .Overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: .5;
    filter: alpha(opacity=50);
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.MediaItem .Overlay span {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FloatRight {
    float: right;
}

.MediaItem .Overlay img {
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
}

.MediaItem.File .Thumb {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.HMLV .MediaItem .Thumb {
    background-position: center;
    background-repeat: no-repeat;
}

.x-grid-cell-inner {
    white-space:  normal;
}

.x-grid-row-alt .x-grid-cell, .x-grid-row-alt .x-grid-rowwrap-div
{
	background-color: #effafe;
}

.x-grid-row-over .x-grid-cell
{
	background-color: #c9edfa !important;
	border-color: #c9edfa !important;
	border-top-color: #c9edfa !important;
}

.x-grid-row .x-grid-cell {
	border-color: #effafe;
	border-top-color: #effafe;
}

/*Menu Navegacao*/
ul.menu-nav
{
    width: 1000px;
}

li.menu-nav-option {
    float: left;
    padding: 10px 20px;
    margin-right: 1px;
    cursor: pointer;
    background-color: #003f6f;
    color: #fff;
    font:12px ColaborateMediumRegular;
    text-transform:uppercase;
}

li.menu-nav-option-over
{
    background-color: #018abe;
}


li.menu-nav-option:first-child 
{
    border-radius: 5px 0 0 5px;
}

li.menu-nav-option:last-child 
{
    border-radius: 0 5px 5px 0;
}

.x-action-col
{
  cursor: pointer; 
  margin-top: 1px; 
  padding: 7px; 
  padding-left: 6px;
  color: #fff; 
  border-radius: 3px;
  text-align: center;
}

.x-action-col-aplicar
{
  background-color: #00b900; 
  /*width: 45px;*/
}

.x-action-col-resgatar
{
  background-color: #6cd4dc; 
/*  width: 55px;*/
}

.x-action-col-info
{
  background-color: #666; 
  /*width: 45px;*/
}

.info-aplic-fundo
{
    padding: 20px;
    font-size: 14px;
}

.info-aplic-fundo h1
{
    font-size: 16px;
    margin-bottom: 5px;
}

.info-aplic-fundo a
{
    color: #fff;
    background-color: #4383c3;
    display: inline-block;
    padding: 2px 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 20px;
}

.info-aplic-fundo p
{
    margin-top: 5px;
    margin-bottom: 15px;   
}

.box-intrucoes-aplicacao
{
    border-top: 1px dotted #666;
    padding-top: 20px;
}

span.perfil
{
    color: #FFA500;
    font-weight: bold;
}

.x-message-box .x-form-display-field
{
	font-size: 14px;
}

.x-message-box .x-btn
{
	box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin: 0 0 0 5px;
    outline: white none 0;
    padding: 3px 10px 4px 10px;

    background-color: whiteSmoke;
    
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white,#E6E6E6);
            
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6E6E6E', endColorstr='#FF333333', GradientType=0);

    border-radius: 4px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);	
}

.x-tip-header,
.x-tip-body,
.x-form-invalid-tip-body
{
	font-size: 15px !important;
}

.cancel-info
{
	background: transparent url("themes/base/images/info.png") no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}


.win-detalhes-fundo .x-column-header-align-right .x-column-header-text {
  padding-right: 0;
  margin-right: 0;
}

.x-column-header-over
{
	border-color: inherit !important;
	background-image: none;
	background-color: Transparent;
}

.header-align-left .x-column-header-inner{
    text-align:left !important;
}

.x-column-header-inner {
	padding: 3px 0px 4px 6px;
}


#message-questionario p,  #info_suitability p
{
	text-align: justify;	
}

.-default-small-disabled
{
	box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
    outline: white none 0;
    
    background-color: whiteSmoke;
    
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white,#E6E6E6);
            
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6E6E6E', endColorstr='#FF333333', GradientType=0);

    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);	
}

.-default-small-disabled  span {
    color: #888 !important;
}


.x-message-box .x-window-body > div{
	overflow-y: auto;
}