.x-ie .x-window-header-text
{
	color: #fff !important;
}

.x-ie .x-window-header-body{
	background-color: #055288;
	padding: 10px;
}

.x-ie .x-frame-mr,.x-ie .x-frame-ml, .x-ie .x-frame-mr,.x-ie  .x-frame-mc,.x-ie  .x-frame-tc,.x-ie  .x-frame-tr,.x-ie  .x-frame-tl,
.x-ie  .x-frame-bc,.x-ie  .x-frame-br,.x-ie  .x-frame-bl{
	background-image: none !important;
}

.x-ie .btn{
	border-color: #d0d0d0 !important;
}

.x-ie .btn-inverse{
	color: #fff !important;
	background-color: #00b7f8 !important;
	border-color: #0086bc !important;

}


.x-ie .x-window-body {
	background-color: #fff !important;
}

.x-ie .-default-small-disabled
{
    background-color: whiteSmoke !important;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}
