﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="ReportInformeRendimentosGeral.aspx.cs" Inherits="_ReportInformeRendimentosGeral" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">

<title>Untitled Page</title>
</head>

<body bgcolor="white">
   <form id="form1" runat="server">          
   </form>
</body>
</html>