<%@ WebHandler Language="C#" Class="TestaExportacaoCetip" %>

using System;
using System.Web;
using System.Text;
using Financial.Fundo;
using EntitySpaces.Interfaces;
using System.Collections.Generic;
using System.IO;
using Financial.RendaFixa.Enums;
using Financial.InvestidorCotista;
using Financial.RendaFixa;
using Financial.Interfaces;
using Financial.Interfaces.Export.RendaFixa;
using Financial.Investidor;
using FileHelpers;

public class TestaExportacaoCetip : IHttpHandler
{

    public void ProcessRequest(HttpContext context)
    {

//        /*OperacaoRendaFixaCollection operacoes = new OperacaoRendaFixaCollection();
//        OperacaoCetipViewModel operacaoCetipViewModel = operacoes.ExportaOperacaoCetip(new DateTime(2013, 1, 15), (int)ClasseRendaFixa.Debenture);

//        string nomeArquivo = "cetip.txt";
        
//        FileHelperEngine engine = new FileHelperEngine(typeof(HeaderOperacaoCetip));
        
//        List<HeaderOperacaoCetip> headers = new List<HeaderOperacaoCetip>();
//        headers.Add(operacaoCetipViewModel.header);

//        engine = new FileHelperEngine(typeof(HeaderOperacaoCetip));
//        engine.Encoding = Encoding.GetEncoding("ISO-8859-1");
//        string output = engine.WriteString(headers);

//        engine = new FileHelperEngine(typeof(RegistroOperacaoCetip));
//        engine.Encoding = Encoding.GetEncoding("ISO-8859-1");
//        output += engine.WriteString(operacaoCetipViewModel.registros);
//*/

//        ClienteCollection clientes = new ClienteCollection();
//        ClienteCetipViewModel clienteCetipViewModel = clientes.ExportaClienteCetip(new DateTime(2013,9,3));
                
//        string nomeArquivo = "cetip.txt";
        
//        FileHelperEngine engine = new FileHelperEngine(typeof(HeaderClienteCetip));
        
//        List<HeaderClienteCetip> headers = new List<HeaderClienteCetip>();
//        headers.Add(clienteCetipViewModel.header);

//        engine = new FileHelperEngine(typeof(HeaderClienteCetip));
//        engine.Encoding = Encoding.GetEncoding("ISO-8859-1");
//        string output = engine.WriteString(headers);

//        engine = new FileHelperEngine(typeof(RegistroClienteCetip));
//        engine.Encoding = Encoding.GetEncoding("ISO-8859-1");
//        output += engine.WriteString(clienteCetipViewModel.registros);

//        /*List<FooterClienteCetip> footers = new List<FooterClienteCetip>();
//        footers.Add(clienteCetipViewModel.footer);
//        engine = new FileHelperEngine(typeof(FooterClienteCetip));
//        engine.Encoding = Encoding.GetEncoding("ISO-8859-1");
//        output += engine.WriteString(footers);*/
        
//        context.Response.ClearContent();
//        context.Response.ClearHeaders();
//        context.Response.Buffer = true;
//        context.Response.Cache.SetCacheability(HttpCacheability.Private);
//        context.Response.ContentType = "text/plain";
//        context.Response.AddHeader("Content-Length", output.Length.ToString(System.Globalization.CultureInfo.CurrentCulture));
//        context.Response.AddHeader("Content-Disposition", String.Format("attachment;filename={0}", nomeArquivo));

//        context.Response.Write(output);
        
    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }

}