html, body {
  /*background: #EBEFFF;*/
  margin: 0;
  overflow: hidden;
  /*background-image:url('../imagens/menu_bg.png');*/
}
body {
  background-image:url('../imagens/menu_bg.png');
  background-color:White;
}
#topo 
{
  border-top: 1px solid #b6bac0;
  border-bottom: 1px solid #d0d0d0;
  text-align: right; 
  width: 100%;
  height: 50px;
  background-color: #EFEFEF;
}
#topo a 
{
	color:#000066;
	font-weight: normal;
	text-decoration:none;
}
#topo a:hover
{
	color:red;
	text-decoration:none;
}

div.logoCliente
{
	position: absolute;
	left: 4px;
	top: 8px;
	height: 48px; 
	width: 312px; 
    background: transparent url(../imagensPersonalizadas/logo_cliente.png) no-repeat;
}

div#topoBotoes
{
	position: absolute;
	right: 0;
	top: 20px;
	
}

div#topoBotoes div.group
{
	border-right:1px solid #AAAAAA;
	cursor:pointer;
	float:left;
	font-family:arial,tahoma;
	font-size:12px;
	font-weight:bold;
	margin-right:20px;
	padding:0 20px 0 0;
	text-align:left;
	text-transform: lowercase;
}

div#topoBotoes div.group div
{
	float:left;
}

div#topoBotoes div.group div.first
{
	margin-right:14px;
}

div#topoBotoes img, div#topoBotoes input {
	margin-right:4px;
	vertical-align:bottom;
}

div#topoBotoes input 
{
		margin-right:6px;
		vertical-align:middle;
}

img { border: 0px; }
.float-left { float: left; }
.float-right { float: right; }
#global { }


#content { 
	position: absolute;
	top: 6000px;
	left:117px;
	bottom: 0px;
	right: 1px;
	/*width: 0px;*/
	height: 0px;
}
#content iframe { 
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	background-color:White;
}

/* Controle de menu */
.menu
{
	background-color: Transparent!important;
	color: #000066!important;
	font: normal  8pt Tahoma!important;
}

.submenu
{
	font: normal  8pt Tahoma !important;
}