/* *****************************/
/*Custom classes*/
/*********** Global classes for controls (Textbox, Label, Dropdownlist, CheckBox) *********************/
/*********** Label *********************/
.labelBold
{	
	color:Black;
	width: 38px;	
	font: 11px bold Tahoma,Arial;		
}

.labelNormal
{	
	color:Black;
	width: 40px;
	font: 11px Tahoma,Arial;		
}

.labelNormal_5
{	
	color:Black;
	width: 25px;
	font: 11px Tahoma,Arial;		
}

.labelCurto
{	
	color:Black;
	width: 15px;
	font: 11px Tahoma,Arial;		
}

/*********** Text *********************/
.textLongo5
{
	color:Black;
	width: 288px; /* 18em */
    font: 11px Tahoma,Arial;    
}
.textLongo
{
	color:Black;
	width: 240px; /* 15em */
    font: 11px Tahoma,Arial;    
}

.textNormal5
{
	color:Black;
	width: 165px;
    font: 11px Tahoma,Arial;    
}
.textNormal
{
	color:Black;
	width: 144px; /* 9em */
    font: 11px Tahoma,Arial;    
}

.textNormal_5
{    
    color:black;
	width: 100px;	
    font: 11px Tahoma,Arial;    
}

.textCurto
{
	color:Black;
	width: 64px; /* 4em */
    font: 11px Tahoma,Arial;    
}

.textCurto_5
{
	color:Black;
	width: 35px;
    font: 11px Tahoma,Arial;    
}

.textValor
{
	color:Black;
	width: 160px;  /* 10em */
    font: 11px Tahoma,Arial;    
}

.textValor_4
{
	color:Black;
	width: 120px;
    font: 11px Tahoma,Arial;    
}

.textValor_5
{
	color:Black;
	width: 100px;  /* 10em */
    font: 11px Tahoma,Arial;    
}

.textValor_6
{
	color:Black;
	width: 65px;
    font: 11px Tahoma,Arial;    
}

.textPerc
{
	color:Black;
	width: 80px;  /* 5em */
    font: 11px Tahoma,Arial;    
}

.textPercCurto
{
	color:Black;
	width: 60px;  /* 5em */
    font: 11px Tahoma,Arial;    
}
.textCota
{
	color:Black;
	width: 192px;  /* 12em */  
    font: 11px Tahoma,Arial;    
}
.textNome
{		
	color:Black;
	position:relative;
	width: 300px;
    font: 11px Tahoma,Arial;        
}

.textDescricao
{		
	color:Black;
	position:relative;
	width: 350px;
    font: 11px Tahoma,Arial;        
}

.textDescricao_5
{		
	color:Black;
	position:relative;
	width: 250px;
    font: 11px Tahoma,Arial;        
}

.textAno
{
	color:Black;	
	width: 48px; /* 3em */
    font: 11px Tahoma,Arial;    
}
.textData
{	
	color:Black;
	width: 96px; /* 6em */
    font: 11px Tahoma,Arial;    
}

.textAtivo input, .textAtivoCurto input, .textAtivoBMF input, .textAtivoBMFCurto input
{		
	color:Black;	
    font: 11px Tahoma,Arial;    
    text-transform:uppercase;
}

.textEstado {
	color:Black;
	width: 20px;
    font: 11px Tahoma,Arial;    
    text-transform:uppercase;
}

.textAtivo
{	
	width: 160px; /* 10em */
}

.textAtivoCurto
{	
	width: 100px;
}

.textAtivoBMF
{	
	width: 80px;
}

.textAtivoBMFCurto
{	
	width: 60px;
}

/*********** DropdownList *********************/
.dropDownListLongo5
{
	color:Black;
	width: 320px;  /* 20em */
    font: 11px Tahoma,Arial;    
}

.dropDownListLongo3
{
	color:Black;
	width: 280px;  /* 20em */
    font: 11px Tahoma,Arial;    
}

.dropDownListLongo
{
	color:Black;
	width: 224px;  /* 14em */
    font: 11px Tahoma,Arial;    
}

.dropDownList
{
	color:Black;
	width: 160px;   /* 10em */
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto
{
	color:Black;
	width: 128px; /* 8em */
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto1
{
	color:Black;
	width: 135px; /* 8em */
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto5
{
	color:Black;
	width: 150px; /* 8em */
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto_1
{
	color:Black;
	width: 110px;
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto_2
{
	color:Black;
	width: 100px;
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto_4
{
	color:Black;
	width: 85px; /* 5em */
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto_5
{
	color:Black;
	width: 80px; /* 5em */
    font: 11px Tahoma,Arial;    
}

.dropDownListCurto_6
{
	color:Black;
	width: 55px;
    font: 11px Tahoma,Arial;    
}

.textReadOnly
{		
	color:Black;
}

/*********** TextButtonEdit *********************/
.textButtonEdit
{
	color:Black;
	width: 100px;
    font: 11px Tahoma,Arial;        
}

.textButtonEdit1
{
	color:Black;
	width: 110px;
    font: 11px Tahoma,Arial;        
}

.textButtonEdit2
{
	color:Black;
	width: 130px;
    font: 11px Tahoma,Arial;        
}

.textButtonEdit3
{
	color:Black;
	width: 150px;
    font: 11px Tahoma,Arial;        
}

.textButtonEdit5
{
	color:Black;
	width: 170px;
    font: 11px Tahoma,Arial;        
}

.textButtonEditLongo
{
	color:Black;
	width: 200px;
    font: 11px Tahoma,Arial;        
}

.textButtonEditFloat
{
	float: left;
	width: 80px;
	margin-right: 4px;
}


/*********** ImgButton *********************/
.imgButtonData 
{	
	margin-left:0px;
	
	/*FF*/
	cursor: pointer;
	/*IE*/
    _cursor: hand; 
}
/*********** CheckBox *********************/
.checkBox
{
	color:Black;
	font: 11px Tahoma,Arial;
}

.reportForm
{
	margin-bottom:20px;
}