﻿/*VALOR INVESTIMENTOS*/

body, input, a, table
{
	font-size: 11px;
	line-height: 17px;
	
}
body
{
	background-color:#D6D4CA !important;
	background: #D6D4CA !important;
}

* {
	margin: 0;
	outline: none;
	padding: 0;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

abbr, acronym {
	font-size: 80%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

abbr[title], acronym[title], dfn[title] {
	cursor: help;
}

.Blue p, .Search p {
	margin: 0;
	padding: 10px 12px;
}

.ISelector ul li {
	background-image: none !important;
}

body {
	background-color: #d6d4ca;
	font-size: 1.1em;
	line-height: 1.8em;
	text-align: center;
}

.BodyContent ol li {
	list-style-type: decimal;
	margin-left: 30px;
}

.BodyContent ul li {
	padding-left: 30px;
}

.BodyContent ul, .BodyContent ol {
	margin: 10px 0;
}

body.searchTips {
	background-color: #FFF;
	padding: 30px;
	text-align: left;
}

.Breadcrumb {
	background-color: #d1eaf2;
	margin: 0 0 20px 0;
	padding: 5px 15px 5px 15px;
}

.Breadcrumb li {
	display: inline;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0;
}

.Breadcrumb li a {
	padding: 0 15px 0 0;
	text-decoration: none;
}

.Breadcrumb li a:hover {
	text-decoration: none;
}

.Breadcrumb ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.Button {
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 2px 10px 2px 10px;
}

.Button, .SearchGoButton {
	cursor: pointer;
	font-size: .9em;
	font-weight: 700;
	height: 23px;
	line-height: 100%;
	margin: 0;
	padding: 0;
}

.CategoryFeedList, .OtherFeedList,.CategoryFeedList li, .OtherFeedList li {
	list-style-type: none;
}

.CategoryPagination {
	padding: 0 5px;
	text-align: center;
}

.CategoryPagination .PagingList li {
	display: inline;
	padding: 0 5px;
}

.CategoryPagination .PagingList, .CategoryPagination .PagingList li {
	list-style: none;
	margin: 0;
	padding: 0;
}

cite, em, dfn {
	font-style: italic;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.CommentItem {
	border-bottom: 4px solid #d2eaf2 !important;
	margin: 20px 0px;
}

.CommentSettingsLink {
	padding: 5px 15px;
}

#Container {
	margin: 0 auto;
	text-align: left;
	width: 978px;
}

.Content {
	background-color: #fff;
	float: left;
	min-height: 500px;
	padding: 30px 25px;
	width: 516px;
}

#content {
	background-color: #fff;
	border-top: none;
	clear: both;
	margin: 0 auto;
	width: 978px;
}

.Content .ContentPostDetails li {
	background-position: 0% 4px;
	background-repeat: no-repeat;
	padding: 0 15px 0 20px;
}

.Content h2 {
	border-bottom: 1px solid #c4bcbc;
	font-family: 'trebuchet ms', arial, sans-serif;
	font-size: 1.72em;
	line-height: 100%;
	padding: 10px 0;
}

.Content h2 em {
	font-size: 1.31em;
}

.Content h3 {
	font-family: 'trebuchet ms', arial, sans-serif;
	font-size: 1.6em;
}

.Content h3 a {
	text-decoration: none;
}

.Content h3, .PostDetails, .Content h4, .Content h5, .Content h6 {
	padding: 5px 0;
}

.Content .listSummary fieldset {
	margin: 10px 0;
}

.Content .listSummary li {
	line-height: 120%;
	padding: 2px 15px;
}

.Content .listSummary p,form p, .Content .tplContent p {
	margin: 10px 0;
	padding: 0;
}

.Content .listSummary .tplContent, .Content .listSummary h4, .Content .listSummary h3, .Content .listSummary h5, .Content .listSummary h2,.Content .tplContent h4, .Content .tplContent h3, .Content .tplContent h5, .Content .tplContent h2 {
	padding: 10px 0;
}

.Content p {
	padding: 0;
}

.Content .PostDetails li {
	background-repeat: no-repeat;
	float: left;
	padding: 0 15px 0 20px;
}

.ContentModulesContainer, .listRow, .BodyContent {
	clear: both;
}

.ContentPostDetails {
	margin: 10px 0;
}

.ContentPostDetails li {
	display: inline;
	float: left;
}

del {
	text-decoration: line-through;
}

div.CommentItemOutsideHighlight div.CommentItem {
	background-color: #f4fcff !important;
}

.even td {
	background-color: #f4fcff;
}

.FeedLink a {
	font-size: 0.9em;
	font-weight: bold;
	padding: 0 0 3px 20px;
	text-decoration: none;
}

fieldset {
	margin: 5px 0;
	padding: 20px 20px 20px 20px;
}

.first {
	text-align: left;
}

#Footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .9em;
	height: 115px;
	line-height: 130%;
	margin: 0 auto;
	padding: 15px 0 0 0;
	text-align: left;
	width: 980px;
}

#Footer a, #Footer a:link, #Footer a:active, #Footer a:visited {
	margin: 0;
	text-decoration: underline;
}

#FooterList.Block1 {
	float: left;
	padding-left: 20px;
}

#FooterList.Block2 {
	float: right;
}

#FooterText {
	width: 400px;
}

#FooterText.Block1 {
	float: left;
}

#FooterText.Block2 {
	float: right;
}

form {
	margin: 0 0 20px 0;
	padding: 0;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.28em;
}

h2.tplAuthorName {
	font-size: 1.3em;
	font-weight: 700;
}

h3 {
	font-size: 1em;
}

h3.tplLangContentByAuthor {
	font-size: 1.3em;
	font-weight: 700;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}

#Header {
	border-bottom: none;
	border-top: none;
	height: 110px;
	margin-top: 20px;
	width: 978px;
}

#Header h1 {
	padding: 25px 0 0 24px;
	position: absolute;
}

#Header h1 a {
	font-family: arial, sans-serif;
	font-size: 2.4em;
	font-weight: 700;
	line-height: 100%;
	text-decoration: none;
	text-transform: uppercase;
}

.headerBgImage {
	background-color: #fff;
	background-position: 0% 0%;
	background-repeat: no-repeat;
}

.HighlightedLink a {
	font-size: 0.9em;
	font-weight: bold;
	padding: 0 0 3px 8px;
	text-decoration: none;
}

.HorizontalFormContainer dd {
	margin-bottom: 5px;
	margin-left: 130px;
}

.HorizontalFormContainer dt {
	clear: left;
	float: left;
	margin: 0 0 5px 0;
	width: 130px;
}

.HorizontalFormContainer p.Submit {
	margin: 0 0 0 130px;
}

hr {
	border-top: 1px solid #c4bcbc;
	height: 1px;
}

html {
	font-family: verdana, arial, georgia, tahoma, sans-serif;
	font-size: 62.5%;
}

html[xmlns] .clearfix {
	display: block;
}

.HtmlBlock {
	background-color: #d1eaf2;
	margin: 0 0 10px 0;
	padding-top: 1px;
}

.HtmlBlock p {
	margin: 0;
	padding: 0 18px 10px 18px;
}

input, textarea, select {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	margin: 5px 0 5px 0;
	padding: 3px;
}

.Left {
	background-color: #fff;
	float: left;
	padding: 30px 0 10px 25px;
	width: 181px;
}

.Left h2, .Right h2 {
	background-color: #f4fcff;
	font-family: 'trebuchet ms', georgia, arial, sans-serif;
	font-size: 1.27em;
	font-weight: 700;
	margin: 0;
	padding: 8px 10px 6px 10px;
}

.Left li a, .Right li a {
	display: block;
	padding-left: 10px;
	text-decoration: underline;
}

.Left li a:hover, .Right li a:hover {
	text-decoration: none;
}

.Left li, .Right li {
	border-top: 1px solid #9ec2ce;
	margin: 0 6px;
}

.Left .SideBox, .Right .SideBox {
	background-color: #d1eaf2;
	margin-bottom: 10px;
	padding-top: 1px;
}

.Left .tplImage, .Right .tplImage {
	margin: 10px 12px;
}

.Left ul li, .Right ul li {
	padding: 5px 12px 4px 0;
}

.Left ul, .Right ul {
	margin: 0 0 0 0;
}

legend {
	font-family: 'trebuchet ms', georgia, Arial, Helvetica, sans-serif;
	font-size: 1.72em;
	font-weight: 700;
	margin: 0;
	padding: 0 5px 0 5px;
}

li.ContentAuthors {
	text-decoration: none;
}

li.ContentAuthors a {
	text-decoration: underline;
}

li.ContentAuthors a:hover {
	text-decoration: none;
}

li.ContentCategories {
	text-decoration: none;
}

li.ContentCategories a {
	text-decoration: underline;
}

li.ContentCategories a:hover {
	text-decoration: none;
}

.listSummary {
	clear: both;
}

.listSummary li {
	padding-left: 10px;
}

#Logo {
	float: left;
	height: 35px;
	margin: 29px 0 0 24px;
	position: absolute;
	width: 211px;
}

#Menu {
	border-bottom: none;
	border-top: none;
	clear: both;
	height: 125px;
	padding-top: 5px;
	width: 978px;
}

#Menu li {
	border-right: 1px solid #714e71;
	float: left;
	height: 26px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#Menu li a {
	display: block;
	font-family: arial, sans-serif;
	font-size: 1.27em;
	font-weight: 700;
	height: 24px;
	padding: 2px 10px 0 10px;
	text-decoration: none;
}

#Menu li ul {
	display: none;
	float: left;
	left: 0;
	padding: 5px 0 10px 0;
	position: absolute;
	text-align: left;
	top: 21px;
	width: 150px;
	z-index: 1;
}

#Menu li ul li {
	clear: both;
	height: auto;
	padding-left: 15px;
	text-align: left;
}

#Menu li ul li a {
	font-size: 1em;
	font-weight: normal;
	height: auto;
	padding: 2px 10px 0 10px;
	width: 140px;
}

#Menu li ul li a:hover {
	text-decoration: underline;
}

#Menu li:hover {
	background-color: #fff;
}

#Menu li:hover ul, #Menu li.over ul {
	display: block;
}

#Menu ul {
	padding: 0 0 0 30px;
}

.odd td {
	background-color: #fff;
}

p {
	margin: 0 0 5px 0;
}

pre {
	font-size: 1.2em;
}

q {
	quotes: "" "";
}

.Right {
	background-color: #fff;
	float: right;
	padding: 30px 25px 10px 0;
	width: 181px;
}

.RSSBlock h2 a {
	background-position: 5px 20px;
	background-repeat: no-repeat;
	display: block;
	height: 40px;
	padding-left: 45px;
	padding-top: 25px;
}

.RSSBlock h2, .RSSBlock {
	padding: 0 !important;
}

.Search {
	background-color: #9bd3e5;
	margin: 0 0 10px 0;
	padding: 1px 0 0 0;
}

.Search form {
	margin-bottom: 0;
	padding: 0 12px;
}

.Search h2 {
	background-color: #349cbe;
}

.Search p {
	clear: both;
	padding-top: 0;
}

.SearchGoButton {
	height: 21px;
	margin: 5px 0 0 10px;
}

.SearchToggleLinkShow, .SearchToggleLinkHide {
	font-size: .8em;
}

select option {
	padding: 0 10px;
}

#Slogan {
	float: left;
	margin: 70px 0 0 30px;
}

.Small {
	font-size: .8em;
}

small, sup, sub {
	font-size: 85%;
}

#smallSearch_Query {
	float: left;
	width: 95px;
}

strong, th, thead td, h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

sub {
	vertical-align: sub;
}

sub, sup {
	vertical-align: baseline;
}

.Summary h2 {
	border-bottom: 0;
}

.Summary li {
	border-bottom: 1px solid #9ec2ce;
	border-top: none;
	margin: 0 12px;
}

.Summary li a {
	font-size: .9em;
	font-weight: 700;
	margin-left: 75px;
	padding: 0 !important;
	text-decoration: underline;
}

.Summary li a:hover {
	text-decoration: none;
}

.Summary small {
	display: block;
	font-size: .9em;
	font-weight: 700;
	padding: 0 0 5px 0;
}

sup {
	vertical-align: super;
}

table {
	
	border-collapse: 1px;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
}

td {
	padding: 4px 10px 4px 10px;
	vertical-align: top;
}

.Testimonial {
	background-color: #e3f3f8;
	margin: 10px 0;
	padding: 5px 20px;
}

th {
	background-color: #d1eaf2;
	padding: 6px 10px 6px 10px;
	text-align: center;
	vertical-align: top;
}

th a img {
	margin: 0 0 10px 0;
	text-decoration: none;
}

th p {
	margin: 5px 0 5px 0;
}

.tplAdvancedSearchURL {
	text-decoration: underline;
}

.tplAuthorImage {
	margin: 15px 15px 15px 0;
}

.tplPreviousLink, .tplNextLink {
	text-decoration: none;
}

.tplWidthColumns1 {
	width: 928px;
}

.tplWidthColumns2 {
	width: 722px;
}

.tplWidthColumns3 {
	width: 516px;
}

ul, ol, dir, menu {
	list-style: none;
}

.VerticalFormContainer dd {
	margin-bottom: 6px;
	margin-left: 0;
}

.White {
	background-color: #9bd3e5;
	margin: 0 0 10px 0;
}

.White h2 {
	background-color: #349cbe;
}

.White p {
	padding: 0 15px 5px 15px;
}

.ViewAuthorContainer h3 {
	clear: both;
}


.Block:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; font-size:0; }
.Block { display: inline-block; } 
html[xmlns] .Block { display: block; }
* html .Block { height: 1%; }


	.headerBgImage { background-image: url("http://www.valorinvestimentos.com.br/templates/Moderno/images/headerImage.png"); }

a {
	color: #369;
}

a abbr, a acronym {
	border: none;
}

a, img, a img {
	border: none;
}

body {
	color: #333;
}

.BodyContent ul li {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/bg_marker.gif) no-repeat 15px 7px;
}

body.searchTips {
	background-image: none;
}

.Breadcrumb li a {
	background: transparent url(http://www.valorinvestimentos.com.br/templates/Moderno/images/breadcrumb_divider.gif) no-repeat 100% 2px;
	color: #369;
}

.Button, .SearchGoButton {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/b_submit.gif) repeat-x;
	border: 0;
	color: #fff;
}

.CommentItem {
	border: none !important;
}

#content {
	border-left: 1px solid #c6c3b3;
	border-right: 1px solid #c6c3b3;
	border-bottom: 1px solid #c6c3b3;
}

.Content h2 {
	color: #669;
}

.Content h2 em {
	color: #303;
}

.Content h3 {
	color: #690;
}

.Content h3 a {
	color: #690;
}

.Content h4 {
	color: #676769;
}

.Content h5 {
	color: #000;
}

.Content img {
	border: 4px solid #f0f2ef;
}

.Content .listSummary li {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/bg_marker.gif) no-repeat 0% 6px;
}

.Content .PostDetails li {
	background-image: 0% 4px;
}

dd.Highlight input, dd.Highlight textarea, dd.Highlight select {
	border-color: #FF0000;
}

div.CommentsContainer {
	border: none !important;
}

.FeedLink a {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/FeedLink.gif) 0 0 no-repeat;
}

fieldset {
	border: 4px solid #d2eaf2;
}

#Footer {
	color: #333;
}

#Footer a, #Footer a:link, #Footer a:active, #Footer a:visited {
	color: #333 !important;
}

h2.tplAuthorName {
	color: #333;
}

h3.tplLangContentByAuthor {
	color: #287BAC;
}

#Header {
	border-right: 1px solid #c6c3b3;
	border-left: 1px solid #c6c3b3;
}

#Header h1 a {
	color: #690;
}

#Header h1 a span {
	color: #09c;
}

.HtmlBlock h2 {
	border: 0 !important;
}

.HtmlBlock p {
	color: #2d4859;
}

input, textarea, select {
	border: 1px solid #aab5c3;
}

input[type=radio], input[type=checkbox] {
	background: none;
	border: none;
}

.Left h2, .Right h2 {
	color: #036;
}

.Left li a, .Right li a {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/bg_side_marker.gif) no-repeat 0% 8px;
	color: #135293;
}

.Left, .Right {
	color: #000;
}

legend {
	color: #303;
}

li.ContentAuthors {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/i_author.gif);
	color: #287bac;
}

li.ContentAuthors a {
	color: #999;
}

li.ContentCategories {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/i_categories.gif);
}

li.ContentCategories a {
	color: #999;
}

li.ContentPublishDate {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/i_date.gif);
	color: #999;
}

li.ContentType {
	background: url(http://www.valorinvestimentos.com.br/templates/Moderno/images/i_name.gif);
	color: #999;
}

#Menu {
	background: #fff url(http://www.valorinvestimentos.com.br/templates/Moderno/images/bg_menu.jpg) no-repeat 24px 0%;
	border-right: 1px solid #c6c3b3;
	border-left: 1px solid #c6c3b3;
}

#Menu li a {
	color: #fff;
}

#Menu li ul li {
	background: #fff url(http://www.valorinvestimentos.com.br/templates/Moderno/images/bg_menu_li_li.gif) no-repeat 12px 13px;
	border: none;
}

#Menu li ul li a {
	background-image: none !important;
}

#Menu li:hover a, #Menu li.over a {
	color: #303;
}

.Required, .FormError, .HighlightMessage {
	color: #FF0000;
}

.RSSBlock h2 a {
	background-image: url('http://www.valorinvestimentos.com.br/templates/Moderno/images/feed-icon-32x32.png');
}

.Search h2 {
	color: #fff;
}

#smallSearch_Query {
	border: 1px solid #349cbe;
}

.Summary li a {
	background: none !important;
	color: #069;
}

.Summary small {
	color: #003;
}

th {
	color: #18435f;
}

.tplAdvancedSearchURL {
	color: #036;
}

.White h2 {
	color: #fff;
}


img, div {
	behavior: url(/lib/iepngfix_v2/iepngfix.php);
}


body {
	behavior: url(/lib/csshover3/csshover3.htc);
}




.AnchorImageBox { font-size:8pt; margin-bottom: 3px; margin-top: 4px; line-height:0.5em; clear: both;}

.AnchorImageRight { margin-left: 6px; float: right; margin-right:2px;}
.AnchorImageLeft { margin-right: 8px; float: left; margin-left:2px;}

.AnchorImageCaption { padding: 2px; color: #888888; border: 1px #CCCCCC solid; border-top: none;  line-height:1.6em}

.AnchorImageBox img {border: none; padding: 0;}



.TwitterBlock h2 a {
	background-image: url("/modules/twitter/images/twitter_bird_32x32.png") !important;
	background-position: 5px 5px;
	padding-top: 10px !important;
	height: 32px;
}
.TwitterFeed li, .TwitterFeed ul {
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

.TwitterFeed a {
	display: inline  !important;
	padding: 0 !important;
	margin: 0 !important;
	background-image: none !important;
}


div.EmailToFriendDialog textarea
{
	width: 95%;
}

div.EmailToFriendDialog input[name='captcha'] {
	width: 100px;
}

div.EmailToFriendDialog input[name='youremail'],
div.EmailToFriendDialog input[name='friendemail'],
div.EmailToFriendDialog input[name='website'] {
	width: 250px;
}

span.HighlightMessage_youremail,
span.HighlightMessage_friendemail,
span.HighlightMessage_website {
	display: block;
}




.contactFormSuccess {
	color: #009900; 
	border: solid 1px #C4C4C4; 
	padding: 5px 5px 5px 30px;
	margin-bottom: 5px; 
	background-color: #F2F2F2; 
	background-image: url('modules/contactform/images/success.gif');
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
.contactFormError {
	color: red;
}


div.CommentsContainer
{
	margin-bottom: 10px;
	border-bottom: solid 1px #E6E6E6;
}

div.CommentItemDepth
{
	
	padding-left: 16px;

}

div.CommentItem
{
	padding: 6px;
	border-top: solid 1px #E6E6E6;
	border-bottom: none;
	background-image: url(/modules/comments/images/commentquote.gif);
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

div.CommentItem .timeat
{
	text-transform: lowercase;
}

div.CommentItem .reply
{
	text-align: right;
}

div.CommentItem .permalink
{
	float: right;
	font-size: 0.85em;
}

div.CommentItem div.name
{
	padding-left: 50px;
}

div.CommentItem div.date
{
	float: left;
	padding-left: 50px;
	font-size: 0.85em;
	color: #ADADAD;
}

div.CommentItem div.inreplyto
{
	float: left;
	margin-left: 0.3em;
	text-transform: lowercase;
	font-size: 0.85em;
}

div.CommentItem div.comment
{
	clear: both;
}

ul.CommentsPages
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.CommentsPages li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

div.CommentItemReplyContainer div.CommentsDialog
{
	border-top: solid 1px #c5dde9;
}

div.CommentsDialog textarea
{
	width: 95%;
}

.CommentsShowLink {
	display: none;
}

.CommentsDialogHidden .CommentsFormContainer,
.CommentsDialogHidden .CommentsHideLink {
	display: none;
}

.CommentsDialogHidden .CommentsShowLink {
	display: inline;
}

div.CommentsDialog input[name='fromemail'] {
	width: 250px;
}

div.CommentsDialog input[name='website'] {
	width: 250px;
}

div.CommentsDialog input[name='captcha'] {
	width: 100px;
}

div.CommentItemOutsideHighlight div.CommentItem
{
	background-color: #FFB;
}

body .PostDetails li.CommentsContentListDetails
{
	background-image: url(/modules/comments/images/comment.gif);
}

div.CommentsHTMLInfoLink,
div.CommentsHTMLInfo
{
	padding: 6px;
}

span.HighlightMessage_fromemail {
	display: block;
}
div.tplsection-right-prepend, div.tplflag-content-paging, div.tplvar-content-content, .tplvar-content-title, .tplflag-content-details
{
	display: none;
}


p.Submit a
{
	background-color: #006699;
	padding: 5px 3px 3px 3px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
}