div#logo-client {
    background: transparent url(../imagensPersonalizadas/logo_cliente.png) no-repeat;
	width: 300px;
	height: 39px;
	top: 15px;
	left: 24px;
	position: absolute;
}

div.logoClient {
    background: transparent url(../imagensPersonalizadas/logo_cliente.png) no-repeat;
	width: 300px;
	height: 39px;
	top: 15px;
	left: 24px;
	position: absolute;
}