﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="ReportPosicaoRendaFixa.aspx.cs" Inherits="_ReportPosicaoRendaFixa" %>

<%@ Register Assembly="DevExpress.XtraReports.v15.2.Web, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraReports.Web" TagPrefix="dxwc" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>

<body id="Body1" runat="server" bgcolor="white">
    
<form id="form1" runat="server">             
       
    <asp:ScriptManager ID="ScriptManager1" runat="server" AllowCustomErrorsRedirect="true">
    </asp:ScriptManager>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>    
       <dxwc:ReportToolbar ID="ReportToolbar1" runat="server" ReportViewer="<%# ReportViewer1 %>" />
       <br />
       <dxwc:ReportViewer ID="ReportViewer1" runat="server" ReportName="Financial.Relatorio.ReportPosicaoRendaFixa" />
    </ContentTemplate>    
    </asp:UpdatePanel>

</form>
</body>
</html>