﻿<%@ page language="C#" autoeventwireup="true" inherits="_ReportInformeRendimentosGeral, Financial.Web_Deploy" enableEventValidation="false" theme="DevEx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">

<title>Untitled Page</title>
</head>

<body bgcolor="white">
   <form id="form1" runat="server">          
   </form>
</body>
</html>