﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TesteExcecao.aspx.cs" Inherits="Teste_TesteExcecao" %>

<%--<%@ Register Assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Namespace="System.Web.UI.HtmlControls" TagPrefix="cc2" %>--%>
<%--<%@ Register Assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Namespace="System.Web.UI.HtmlControls" TagPrefix="cc2" %>
<%@ Register Assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Namespace="System.Web.UI" TagPrefix="cc1" %>--%>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">

<asp:ScriptManager ID="ScriptManager1" runat="server"  />
<asp:UpdatePanel runat="server" ID="up1">
  <ContentTemplate>
    <asp:Button runat="server" ID="Button1" Text="Click Me" OnClick="Button1_OnClick" />
  </ContentTemplate>
</asp:UpdatePanel>

    </form>
</body>
</html>
