﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TesteImportaCliente.aspx.cs" Inherits="Teste_TesteImportaCliente" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" /></div>
    <div>
        <asp:Button ID="Button2" runat="server" Text="Button" OnClick="Button2_Click" /></div>
    <div>
        <asp:Button ID="Button3" runat="server" Text="Button" OnClick="Button3_Click" /></div>
    <div>
        <asp:Button ID="Button4" runat="server" Text="Button" OnClick="Button4_Click" /></div>
    </form>
</body>
</html>
