﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ExibeExportacao.aspx.cs" Inherits="_ExibeExportacao" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head2" runat="server">    
    <title>Untitled Page</title>
                                
</head>
<body bgcolor="white">  
    <form id="form1" runat="server">
    
    <asp:ScriptManager ID="ScriptManager1" AsyncPostBackTimeout="360000" runat="server" EnableScriptGlobalization="true" EnableScriptLocalization="true" />
                       
    </form>                   
</body>
</html>