.dxsplControl_DevEx .dxmLiteReportToolbarPane {
    border: 1px solid #9da0aa;
    border-bottom-style: none;
    background: #f1f2f6 url('../Web/mItemBack.png') repeat-x left top;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table.dxXtraReports_PageTable_DevEx {
    border-spacing: 0px;
    margin: 0 auto;
}

    table.dxXtraReports_PageTable_DevEx td {
        padding: 0px;
    }

