<%@ WebHandler Language="C#" Class="debug" %>

using System;
using System.Web;
using Financial.Interfaces.Import.RendaFixa;
using Financial.Common;
using FinancialDesk.BO.Series;

public class debug : IHttpHandler {
    
    public void ProcessRequest (HttpContext context) {

        DateTime data = new DateTime(2011, 05, 05);
        
        //CotacaoIndice cotacaoIndice = new CotacaoIndice();
        //cotacaoIndice.CarregaCotacaoIndiceAndima(data);
        
/*        CotacaoAndimaIndice cotacao = new CotacaoAndimaIndice();
        cotacao.ProcessaCotacao();*/

        /*context.Response.ContentType = "text/plain";
        context.Response.Write("Hello World");*/

        SingleSerieValues serieIndustria = new SingleSerieValues(250, data);
        serieIndustria.MontaChartIndustria();
        
        //Bytescout.Spreadsheet.Spreadsheet document = new Bytescout.Spreadsheet.Spreadsheet();
        //document.LoadFromFile(@"c:\temp\testebs.xlsx");
        //Bytescout.Spreadsheet.Worksheet workSheet = document.Workbook.Worksheets[0];
        
        //workSheet.Cell(2, 0).Value = "Eduardo";

        //document.SaveAs(@"c:\temp\testebs2.xlsx");
        //document.Close();
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }

}