<%@ WebHandler Language="C#" Class="debug" %>

using System;
using System.Web;
using Financial.Interfaces.Import.RendaFixa;
using Financial.Common;
using Financial.Bolsa;
using Financial.Fundo;

public class debug : IHttpHandler {
    
    public void ProcessRequest (HttpContext context) {

        //List<int> 


        //TabelaProvisaoCollection t = new TabelaProvisaoCollection();
        
        //t.Query.Where( (t.diasRenovacao.Cast(esCastType.String) + t.numeromesesrenovacao.Cast(esCastType.String)).notIn();
        
        //t.Query.Load();
        
        context.Response.ContentType = "text/plain";
        context.Response.Write("Hello World");
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }

}