<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CalculoResultadoExporta.aspx.cs"
    Inherits="_CalculoResultadoExporta" %>

<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dxwgv" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body bgcolor="white">
    <form id="form1" runat="server">
        <dxwgv:ASPxGridViewExporter ID="gridExport" runat="server" Landscape="True">
        </dxwgv:ASPxGridViewExporter>
    </form>
</body>
</html>
