$base-color: #3d3d3d;  
$active-color: #3d3d3d;
$tabs-dark-active-color: #fff;
$base-gradient: flat; 


@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@import 'sencha-touch/default/src/panel';
@import 'sencha-touch/default/src/button';
@import 'sencha-touch/default/src/sheet';
@import 'sencha-touch/default/src/picker/picker';
@import 'sencha-touch/default/src/tab/panel';
@import 'sencha-touch/default/src/toolbar';
@import 'sencha-touch/default/src/dataview/list';
@import 'sencha-touch/default/src/carousel/carousel';
@import 'sencha-touch/default/src/form/panel';
@import 'sencha-touch/default/src/messagebox';

@include icon('list');
@include icon('chart');
@include icon('refresh2');
@include icon('news');

// Your custom code goes here...
.x-picker-bar {
  background: rgba(98,174,205, 0.5); 
}

/*Financial*/
html, body {
    /*font-family: "Segoe UI", "Lucida Sans Unicode", "tahoma", Verdana, sans-serif;*/
    font-weight: normal;
}

.x-layout-card-item {
    background: #f7f5f5 !important;
}

.x-chart-watermark {
    display: none;
}

.circle{
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #004b69;
}




.circle-1 {
    background: #ffab00;
}



.circle-2 {
    background: #01b7b7;
}



.circle-3 {
    background: #ff0054;
}



.circle-4 {
    background: #004b69;
}

.circle-5 {
    background: #99b872;
}

.circle-6 {
    background: #acacac;
}

.circle-7 {
    background: #b40f1e;
}

.circle-8 {
    background: #906800;
}

.circle-9 {
    background: #7780a2;
}

.circle-10 {
    background: #29a03c;
}

.circle-11 {
    background: #000000;
}