/*div#logo-client {
    background: transparent url(../imagensPersonalizadas/layout/logo-client.png) no-repeat;
	width: 148px;
	height: 45px;
	top: 10px;
	left: 24px;
	position: absolute;
}*/

div#x-taskbar
{
	height: 65px;
	width: 100%;
	background: #0d2a40 url(../imagensPersonalizadas/layout/fdesk-header-privatebp.png) no-repeat;
}

div#x-header-info div , div#x-header-info a, div#x-header-info a:link, div#x-header-info a:visited, div#x-header-info a:active, div#x-header-info a:hover 
{
	color: #fff;	
}

