﻿/*PRIVATE BP*/
body, input, a, table
{
	color: #003650;
	font-family: Tahoma,Arial,Verdana, "Times New Roman";
	font-size: 12px;
}
div#Container
{
	background: url( "../imagenspersonalizadas/login_bg.jpg" ) no-repeat scroll 0 0 transparent;
	height: 429px;
	margin: 80px auto;
	position: relative;
	width: 600px;
}
div#login_content
{
	height: 152px;
	left: 225px;
	padding-top: 18px;
	position: absolute;
	top: 150px;
	width: 150px;
}
.lembrar-senha div#login_content
{
	padding-top: 8px;
}

.lembrar-senha .info-contato
{
	padding: 0 6px 0 6px;
}

.lembrar-senha h3
{
	font-weight: bold;
	font-size: 12px;
}

input
{
	color: #003650;
	font-family: tahoma;
	font-size: 12px;
}
div#login_content input.input_text
{
	display: block;
	width: 110px;
}
table#Login1
{
	width: 100%;
}
#Login1_UserNameRequired, #UserNameRequired
{
	display: none;
}
#welcome-text
{
	margin: 0 auto;
	padding-top: 105px;
	text-align: center;
	/*width: 228px;*/
}
#welcome-text p
{
	margin: 0;
}
.lembrar-senha #welcome-text
{
	/*width: 170px;*/
}
.btn_login,.btn_enviar
{
	display: block;
	height: 19px;
	width: 96px;
} 

.btn_login
{
	background: url( "../imagenspersonalizadas/entrar.gif" ) no-repeat scroll 0 0 transparent;
	margin: 7px auto 0;
}
.btn_enviar
{
	background: url( "../imagenspersonalizadas/enviar.gif" ) no-repeat scroll 0 0 transparent;
	margin: 25px auto 10px;
}
span.rememberme label
{
	font-size: 10px;
	padding-left: 5px;
}
span.rememberme input, div#login_content input.input_text, label.input_label
{
	margin-left: 18px;
}
.lembrar-senha label, .lembrar-senha div#login_content input.input_text,
.alterar-senha label, .alterar-senha div#login_content input.input_text
{
	margin-left: 5px;
}
.lembrar-senha div#login_content input.input_text,
.alterar-senha div#login_content input.input_text
{
	width: 140px;
}

.alterar-senha #PasswordConfirmationLabel
{
	margin-top: 9px;
	display: block;
}

.alterar-senha #PasswordConfirmation
{
	margin-bottom: 20px;
	
}


.text-btn
{
	text-align: center;
}
.text-btn a
{
	font-size: 10px;
	text-decoration: none;
}
div#disclaimer a
{
	color: #FFFFFF;
	display: block;
	font-size: 10px;
	padding-top: 5px;
}
div#disclaimer
{
	height: 23px;
	left: 26px;
	position: absolute;
	text-align: center;
	top: 364px;
	width:550px;
}