﻿/*Banco Paulista*/
body
{
    margin:0;
    padding: 0;
    color: #00214a;
    background-color: #f2f6fb;
}

a.amnesia
{
    
}

table#login1 {
    height: auto;
}

.bg1st {
    background-color: #3e68a2;
    font-size: 9px
}

.bg1ston {
    background-color: #2b4f7f;
    border-color: black #2b4f7f;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px
}

.link1st {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    filter: dropshadow(color = #2b4f7f, offx = 1, offy = 1, positive = 1);
    color: #062643;
    text-decoration: none
}

.link1ston {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    filter: dropshadow(color = #2b4f7f, offx = 1, offy = 1, positive = 1);
    color: #062643;
    text-decoration: none;
    border-color: black #2b4f7f;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    background-color: #2b4f7f
}

.brd2nd {
    background-color: #c3d3e7;
    border-color: black #2b4f7f #2b4f7f #2b4f7f;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.brd2nd2 {
    border-color: #2b4f7f;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    background-color: #b8cce7
}

.brd2nd3 {
    border-color: #2b4f7f;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px
}

.brd3rd {
    background-color: #FFFFFF;
    border-color: black #999999 #999999;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.brd3rd2 {
    background-color: #FFFFFF;
    border-color: #999999 #999999 black;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px
}

.brd3rd3 {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #062643;
	border-right-color: #062643;
	border-bottom-color: #062643;
	border-left-color: #062643;
}

.label {
    border-style: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #062643;
    background-color: #FFFFFF;
    border-color: #062643 #CCCCCC #CCCCCC #062643;
    height: 21px;
}

.bordaSuperior {
    border-color: #2b4f7f;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px
}

.bordaSimples {
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px
}

a.link, a.amnesia, a.btn_login, a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #062643;
    text-decoration: none
}

a.btn_login, a.btn_enviar
{
    font-weight: bold;
    padding: 0 6px 0 6px;
}

a.link2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #FFFFFF;
    text-decoration: none
}

a.link2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0CF;
	text-decoration: none
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;

}

a.link3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #2b4f7f;
    text-decoration: none
}

a.link3:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #062643;
    text-decoration: underline
}

a.link4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #003399;
    text-decoration: underline
}

a.link4:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #062643;
    text-decoration: underline
}

.txt1branco {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF
}
.txt1verde {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #009900
}
.txt1laranja {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF3300
}
.input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #062643;
    background-color: #FFFFFF;
    border-color: #062643 #CCCCCC #CCCCCC #062643;
    height: 21px;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.separator {
    border-color: black black #F8F4F8;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px
}

.erro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #FF0000
}

.txt2preto {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #062643
}

.txtcinza {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #CCCCCC
}

.input2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #0000CC;
    background-color: #FFFFFF;
    height: 21px;
    border: #E0E0E0;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;

}

.link1myb {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    filter: dropshadow(color = #2b4f7f, offx = 1, offy = 1, positive = 1);
    color: #062643;
    text-decoration: none
}

.input3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #062643;
    background-color: #FFFFFF;
    height: 21px;
    border: #E0E0E0;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.brd4th {
    background-color: #f2f6fb;
    border-color: black #CCCCCC #CCCCCC;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.brd4th2 {
    background-color: #f2f6fb;
    border-color: #CCCCCC #CCCCCC black;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px
}

.brd4th3 {
    border-color: black black #CCCCCC;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px
}

.bg {
    background-image: url(../art/image7.jpg);
    background-repeat: repeat-y;
    background-color: #2b4f7f
}

.bg8 {
    background-image: url(../art/image8.jpg);
    background-repeat: repeat-y;
    background-color: #4a7cc1
}

.linkpriv {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #2b4f7f;
    text-decoration: none
}

a.linkpriv:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #062643;
    text-decoration: underline
}

a:linkpriv .visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #0b3479;
    text-decoration: underline
}

.tdpolitica {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #2b4f7f;
    line-height: 18px
}

.fndpolitica {
    background-color: #cfe0f8;
    border: #3e68a2;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px
}

.trLinhaColorida {
	background-color: #d7dfea;
}

.textArea {
	text-align: justify;
	text-decoration: none;
	background-color: window;
	width: 415px;
	height: 300px;
	border-color: black black #CCCCCC;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 5px;
}

.selectOneMenuTop{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #003399;
}

.icon_imprimir {
    border: none;
}
.fundotesteira {
	background-image: url(../imagenspersonalizadas/fundo_testeira.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.txt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #141A21;
	text-decoration: none;
}
.fundotab {
	background-attachment: scroll;
	background-image: url(../imagenspersonalizadas/fundo_tela_login.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.fonte_formulario .trLinhaColorida td {
	font-size: 9px;
}
.fonte_formulario {
	font-size: 9px;
}
.fonte_formulario tr td {
	font-size: 9px;
}
.fundomenucol {
	background-attachment: scroll;
	background-image: url(../imagenspersonalizadas/fdo_menu_azul_claro.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.linkmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000033;
	text-decoration: none;
}
.linkmenu: hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration: none;
}
.fundomenuazul {
	background-image: url(../imagenspersonalizadas/fundo_menu_azul.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	background-attachment: scroll;
}
.linkmenucinza {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4A4A4A;
	text-decoration: none;
}
.linkmenucinza: hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration: none;
}
.fdoconttop {
	background-attachment: scroll;
	background-image: url(../imagenspersonalizadas/fundo_cont_top.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.fundotit {
	background-attachment: scroll;
	background-image: url(../imagenspersonalizadas/aba_tit_fundo.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.bordabox {
	border: 1px solid #CCCCCC;
}

.input_text_password , .input_text_username
{
    width: 139px;
}

.td-email .input_text
{
    width: 290px;
}