﻿<%@ page language="C#" autoeventwireup="true" inherits="Help, Financial.Web_Deploy" enableEventValidation="false" theme="DevEx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Ajuda</title>
    <link rel="stylesheet" href="de_style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
    <style type="text/css">
        div.description_on_page{
            margin-left:10px;
            margin-right:10px;
        }
    </style>
    

</head>
<body>
    <form id="form1" runat="server">
    <div id="content" runat="server">
        
    </div>
    </form>
</body>
</html>
