/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_DevEx
{
    background: White;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_DevEx
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxheLoadingPanel_DevEx td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxheLoadingPanel_DevEx .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

.dxheControl_DevEx
{
    border: 1px solid #9da0aa;
    font: 11px Verdana, Geneva, sans-serif;
}

/* Area */
.dxheContentArea_DevEx
{
    padding: 0;
    background-color: #ebecef;
}
.dxheErrorFrame_DevEx
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #D00707;
    background-color: #fbc7c7;
    border-bottom: solid 1px #dec0c0;
}
.dxheErrorFrame_DevEx .dxhe {
    padding: 5px;
}
.dxheErrorFrame_DevEx .dxhe td {
    padding: 0px;
}
.dxheErrorFrame_DevEx .dxheErrorFrameCloseButton_DevEx {
    cursor: pointer;
}
.dxheControl_DevEx .dxheViewArea_DevEx
{
    border-width: 0;
}
.dxheContentArea_DevEx td.dxheViewArea_DevEx {
    line-height: 0;
}

.dxheControl_DevEx .dxheHtmlViewArea_DevEx,
.dxheDesignViewArea_DevEx,
.dxhePreviewArea_DevEx
{
    margin: 0px;
    background-color: White;
    background-image: none;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
}
.dxheContentArea_DevEx .dxeMemo_DevEx td, 
body.dxheDesignViewArea_DevEx, 
body.dxhePreviewArea_DevEx
{
    padding: 4px 4px 0 4px;
}
.dxheControl_DevEx .dxheContentArea_DevEx .dxeMemo_DevEx td
{
    padding-top: 0;
    padding-right: 0;
}
.dxheContentArea_DevEx .dxeMemoEditArea_DevEx
{
    padding-left: 0;
    padding-right: 0;
}
.dxheControl_DevEx.dxhe-rtl .dxheContentArea_DevEx .dxeMemo_DevEx td
{
	padding: 0 4px 0 1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .dxheControl_DevEx.dxhe-rtl .dxheContentArea_DevEx .dxeMemo_DevEx td
    {
	    padding: 0 0 0 4px;
    }
}
.dxheControl_DevEx .dxeMemo_DevEx textarea 
{
	resize:none;
}
.dxheControl_DevEx input.dxeEditArea_DevEx
{
    padding-bottom: 0px;
    margin-top: -1px;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_DevEx table.dxEmptyBorderTable,
body.dxheDesignViewArea_DevEx table.dxEmptyBorderTable td
{
    border: 1px dotted Gray;
}
@media print
{
	body.dxheDesignViewArea_DevEx table.dxEmptyBorderTable,
	body.dxheDesignViewArea_DevEx table.dxEmptyBorderTable td
	{
		border:0px;
	}
}
body.dxheDesignViewArea_DevEx pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* Status Bar */
.dxheStatusBar_DevEx
{
}
.dxheStatusBar_DevEx .dxheStatusBarTab_DevEx
{
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.dxheControl_DevEx.dxhe-rtl .dxheStatusBar_DevEx .dxheStatusBarTab_DevEx
{
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-width: 0 !important;
}
.dxheControl_DevEx .dxheStatusBar_DevEx .dxheStatusBarTab_DevEx .dxtc-link
{
    padding: 4px 35px 5px 34px;
}
.dxheStatusBarActiveTab_DevEx
{
}
.dxHtmlEditor_heSizeGrip_DevEx
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_DevEx
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_DevEx
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -13px;
}
.dxheControl_DevEx.dxhe-rtl .dxheSizeGripContainer_DevEx
{
	text-align: left;
}
.dxheStatusBar_DevEx .dxtc-bottom .dxtc-tab
{
    background: #f1f2f6 url('SBTabBack.png') repeat-x left top;
}
.dxheStatusBar_DevEx .dxtc-bottom .dxtc-tabHover
{
    background: #f7f9fe url('SBTabHoverBack.png') repeat-x left top;
}
.dxheStatusBar_DevEx .dxtc-rightIndent
{
    background: #f1f2f6 url('SBTabBack.png') repeat-x left top;
}

/* ----------------- Dialog Forms ----------------- */
.dxpcLite_DevEx .dxheDlgFooter,
.dxpcLite_DevEx .dxheCustomDialog_DevEx .dxhecd-Buttons
{
    background-color: #ebecef;
    border-top: 1px solid #abacb9;
	padding: 10px 11px;
	text-align: right;
}
.dxpcLite_DevEx.dxRtl .dxheDlgFooter,
.dxpcLite_DevEx.dxRtl .dxheCustomDialog_DevEx .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_DevEx .dxheDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxpcLite_DevEx.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxpcLite_DevEx .dxheDlgInsertImageForm .dxheDlgImagePreviewCell
{
    color: #737373;
    border: 1px dashed #cac8c8;
}
.dxpcLite_DevEx .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
	border: 1px solid #9da0aa;
}

/*----------------- Toolbars -----------------*/
.dxtbSpacing_DevEx
{
	height: 1px;
}
.dxtbControl_DevEx
{
    color: #201f35;
    background: #f1f2f6 url('ToolbarBack.png') no-repeat right top;
    width: 100%;
    border-bottom: 1px solid #9da0aa;
}
.dxheControl_DevEx.dxhe-rtl .dxtbControl_DevEx 
{
	background: #f1f2f6 url('ToolbarBackRtl.png') no-repeat left top;
}
.dxtbControl_DevEx td.dxmMenu_DevEx
{
	border: 0;
}
.dxtbComboBoxMenuItem_DevEx
{
    padding: 2px 2px 1px;
}
.dxheControl_DevEx .dxrControl_DevEx
{
    background: #f1f2f6 url('ToolbarBack.png') no-repeat right top;
}
.dxheControl_DevEx .dxrControl_DevEx .dxtcLite_DevEx .dxtc-stripContainer .dxtc-spacer,
.dxheControl_DevEx .dxrControl_DevEx .dxtcLite_DevEx.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxheControl_DevEx .dxrControl_DevEx .dxr-tabContent
{
    border-width: 0 0 1px 0;
}
.dxheControl_DevEx .dxrControl_DevEx .dxr-minBtn
{
    padding-right: 8px;
}
.dxheControl_DevEx .dxtbControl_DevEx.dxtbr_DevEx,
.dxheControl_DevEx .dxrControl_DevEx .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}

/* Toolbars Lightweight Mode */
.dxtbControl_DevEx .dxmLite_DevEx .dxm-main
{
    border-width: 0;
}
.dxmLite_DevEx .dxhetipControl_DevEx img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl_DevEx
{
    margin-top: -1px;
}
.dxtcbColorDiv_DevEx
{
	width: 16px;
	height: 3px;
	font-size: 0;
	background-color: Transparent;
    margin-top: -3px;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_DevEx .dxrpcontent
{
    padding: 11px !important;
}

