﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Home" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Financial</title>
</head>
<body bgcolor="white">
    <form id="form1" runat="server">
    <div>
    <table>
        <tr>
        <td>
        <asp:Image ID="Image1" runat="server" ImageUrl="~/imagens/Home.jpg" />
        </td>
        </tr>
    </table>
    </div>
    </form>
</body>
</html>
